<div class="users index">
	<h2 style="width:400px;float:left;"><?php echo __('Discoussion'); ?></h2>
	<table style="width:100%;border:0px solid red;">
        <tr>
            <td style="width:70%;border:0px solid red;">&nbsp;</td>
            <td >
<!--                <a href="<?php echo($this->webroot);?>admin/ratings/add" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Add New Discoussion</a>  -->
        </tr></td>
        </tr>
    </table>    
        
        
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th>SN</th>
		<th><?php echo $this->Paginator->sort('user_id','UserName'); ?></th>
		
		<th><?php echo $this->Paginator->sort('post_id','Course Name'); ?></th>
		
		<th><?php echo $this->Paginator->sort('description','Comment'); ?></th>
		
		<th><?php echo $this->Paginator->sort('post_time','Date'); ?></th>
<!--		<th class="actions"><?php echo __('Actions'); ?></th>-->
	</tr>
	<?php
        $Cnt=0;
        $uploadImgPath = WWW_ROOT.'user_images';
        foreach ($discussions as $discussion): 
	    $Cnt++;?>
	<tr>
		<td><?php echo $Cnt;?>&nbsp;</td>
		<td><?php echo h($discussion['User']['first_name'].' '.$discussion['User']['last_name']); ?>&nbsp;</td>
		<td><?php echo h($discussion['Post']['post_title']); ?>&nbsp;</td>
		
		<td><?php echo strip_tags($discussion['CourseDiscussion']['description']); ?>&nbsp;</td>
		
		<td><?php echo h(date('F j,Y g:ia',strtotime($discussion['CourseDiscussion']['post_time']))); ?>&nbsp;</td> 
<!--		<td >
                        <?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'fa fa-eye')),
                        array('action' => 'view', $rating['Rating']['id']),
                        array('class' => 'btn btn-success btn-xs', 'escape'=>false)); ?>
                            <?php echo $this->Html->link($this->Html->tag('i', '', array('class' => 'fa fa-edit')),
                        array('action' => 'edit', $rating['Rating']['id']),
                        array('class' => 'btn btn-info btn-xs', 'escape'=>false)); ?>
                            <?php echo $this->Form->postLink($this->Html->tag('i', '', array('class' => 'fa fa-times')),
                        array('action' => 'delete', $rating['Rating']['id']),
                        array('class' => 'btn btn-danger btn-xs', 'escape'=>false),
                        __('Are you sure you want to delete # %s?', $rating['Rating']['id'])); ?>
                    </td>-->


		 
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>

<style>
.title a{
    color: #fff !important;
}
</style> 