<?php
#pr($ratings);
?>
<div class="users index">
	<h2 style="width:400px;float:left;"><?php echo __('Ratings &amp; Reviews Recieved'); ?></h2>
        
        
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th><?php echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('task_id'); ?></th>
		<th><?php echo $this->Paginator->sort('task_by'); ?></th>
		<th><?php echo $this->Paginator->sort('user_id','Rated By'); ?></th>
		<th><?php echo $this->Paginator->sort('rating'); ?></th>
		<th><?php echo $this->Paginator->sort('review'); ?></th>
		<th><?php echo $this->Paginator->sort('date_time'); ?></th>
		<!--<th class="actions"><?php echo __('Actions'); ?></th>-->
	</tr>
	<?php foreach ($ratings as $rating): ?>
	<tr>
		<td><?php echo h($rating['Rating']['id']); ?>&nbsp;</td>
		<td><?php echo h($rating['Task']['title']); ?>&nbsp;</td>
		<td><?php echo h($rating['TaskBy']['first_name'].' '.$rating['TaskBy']['last_name']); ?>&nbsp;</td>		
		<td><?php echo h($rating['User']['first_name'].' '.$rating['User']['last_name']); ?>&nbsp;</td>
		<td><?php echo h($rating['Rating']['rating']); ?>&nbsp;</td>
                <td><?php echo h($rating['Rating']['review']); ?>&nbsp;</td>
		<td><?php echo h($rating['Rating']['date_time']); ?>&nbsp;</td>
		<!--<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $rating['Rating']['id'])); ?>
			<?php #echo $this->Html->link(__('Edit'), array('action' => 'edit', $rating['Rating']['id'])); ?>
			<?php #echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $rating['Rating']['id']), null, __('Are you sure you want to delete %s?', $rating['Rating']['id'])); ?>
		</td>-->
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<?php //echo $this->element('admin_sidebar'); ?>
