@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700');
body {
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.pull-left{
	float: left !important;
}
.clearfix{
	display: table;
	clear: both;
	width: 100%;
}
header.fx {
    position: absolute;
    z-index: 999;
    background: transparent;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.navbar-brand{	
	height:auto;
}

.top-_left{
    float: left;
}
.top-right{
    float: left;
}

ul.top-social{
    display: block;
    padding: 0;
    position: absolute;
    right: 109px;
    top:10px;
    z-index: 999;
}

.top-social li{
	display: inline-block;
	margin: 0px 20px 0px 0;
}
.top-social li a{
	font-size: 18px;
	color: #ffffff;
}

.top-social li:nth-child(1) a:hover{
    color: #007ab9;
}
.top-social li:nth-child(2) a:hover{
    color: #4267b2;
}
.top-social li:nth-child(3) a:hover{
    color: #1da1f3;
}
.top-social li:nth-child(4) a:hover{
    color: #e04006;
}
.top-social li:nth-child(5) a:hover{
    color: #ea6d3c;
}
	
header.fx.fixed{
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
    background: rgba(61,91,153,0.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 200;
    font-size: 16px;
}
.navbar-dark .navbar-nav .nav-link strong{
	
	font-weight:500;
	text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav{
	margin-top: 18px;
}

.form-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 99;
    text-align: center;
    width: 100%;
    padding: 25px;
}
.form-banner .container {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 15px 20px;
}
.form-banner h1{
	font-size: 71px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
}
.form-banner h1 a{
    color: #fff;
    text-decoration: none;

}

.form-banner h3{
	font-size: 42px;
    letter-spacing: 1.9px;
    font-weight: 200;
    margin: 10px 0 20px;
}
.form-banner h3 strong{
	font-weight: 900;
	font-size: 53px;
	font-style: italic;
	
}
.form-control{	
	border-radius: 0;
	border: 0;
	font-family: 'fontAwesome','Poppins';
	color: #afafaf;
	height: 50px;
	font-weight: 300;
	padding: .375rem 1rem;
	font-size: 17px;
}
.form-body.clearfix {
    padding: 10px;
    margin-top: 15px;
    background: rgba(255,255,255,0.25);
    border-radius: 5px;
}
#srch{
	width: 45%;
    border-right: 1px solid #cbcbcb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 15px;
}
#cntry{
	width: 30%;
	border-right: 1px solid #cbcbcb;
	padding: 30px 10px;
}
#miles{	
	width: 15%;
	padding: 30px 10px;
}
#submit{	
    width: 10%;
    background: #395c87;
    border: 0;
    border-radius: 0;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 8px;
    font-size: 20px;
    font-weight: 500;
}
.round-btn{
	border-radius: 35px;
    border: 1px solid #fff;
    background: #1f3753;
    margin: 15px auto;
    font-size: 18px;
    text-transform: capitalize;
    padding: 8px 25px;
    font-weight: 300;
}
.nav-tabs{
	border-bottom: 0;
	background: #4d6d93;
}
.nav.nav-tabs li a{	
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	display: block;
	background: #4d6d93;
	line-height: 50px;
	text-transform: capitalize;
	text-decoration: none;
}
.nav.nav-tabs li{
	float:left;
	width: 16.6%;
	text-align: center;;
	margin: 0;
	padding: 0;
}
.nav.nav-tabs li a.active{	
	background:#395c87;
}
.tab-content{
	background: rgba(61,91,153,0.8);
	width: 100;
	padding: 0px 22px;
}

.form-banner .container-new {
    max-width: 1140px;
  	margin: -8px auto;
}

.tab-box{
	width: 100%;
	display: block;
}

.tab-box h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 0px;
    text-align: left;
    margin: 0;
}

.tab-box h2 i{
	font-size: 26px;
	margin: 0px 10px 0px 0px
}

.tab-box ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 0px 0 20px 0;
}
.tab-box ul li{
	display: block;
		text-align: left;
}
.tab-box ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
}
.tab-box ul li a span{
	color: #51a4f8;
}

.video-cvs-section{
width: 100%;
display: block;	

}
.left-bg{

	background: #3d5b99;
}
.cvsleft-box{
	width: 100%;
	display: block;
	padding: 100px 70px 0 98px;
}
.cvsleft-box h1{
	color: #fff9f5;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px 0px 30px 0;
	font-size: 48px;
}
.cvsleft-box p{
	color: #fff9f5;
	font-size: 17px;
	padding: 0px 0px 80px 0;
	line-height: 30px;
	margin: 0;
	font-weight: normal;
}
.cvsbtn{
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    display: inline-block;
    margin: 0px 0px 120px 0;
}
.cvsbtn a{
	color: #3d5b99;
	text-decoration: none;
	display: block;
    padding: 15px 60px;
     border-radius: 50px;
     -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
border: #fff 1px solid;
}

.cvsbtn a:hover{
    background: #072c79;
    color: #fff;
}

.video-box{
width: 100%;
display: block;
}

.career-section{
width: 100%;
display: block;	
padding: 70px 0px;
}
.career-section h1{
	padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.career-section h2{
	color: #797979;
	font-size: 20px;
	padding: 0px 0 20px 0;
	color: #797979;
	width: 100%;
	text-align: center;
	 font-weight: 700;
	     font-style: italic;
}
.career-section h3{
    color: #282828;
    font-size: 30px;
    font-weight: 400;
    padding: 15px 0px;
}
.career-section p{
	color: #595959;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding: 0px 18px;
    margin: 0;
}
.register-btn{
    display: inline-block;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px auto;
    font-weight: 500;

}

.register-btn a{
    color: #fff;
    text-decoration: none;
    background: #3d5b99;
    padding: 15px 70px;
    float: left;
    border-radius: 50px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.register-btn a:hover{
    background: #072c79;
    -webkit-box-shadow: -2px 2px 5px -1px rgba(161,148,161,1);
-moz-box-shadow: -2px 2px 5px -1px rgba(161,148,161,1);
box-shadow: -2px 2px 5px -1px rgba(161,148,161,1);
}

.career-section h5{
	color: #4e4e4e;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	padding: 40px 0px;
	display: block;
	width: 100%;
}

.bottom-panle{
	padding: 100px 70px 0 70px;
}
.bottom-panle p{
	   padding: 0px 0px 30px 0;
}

/*====Employers====*/
.employers-section{
    display: block;
    width: 100%;
    padding: 80px 0px;	
}
.employers-section h1{
   padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;	
}
.employers-section h2 {
    color: #797979;
    font-size: 20px;
    padding: 0px 0 20px 0;
    color: #797979;
    width: 100%;
    text-align: center;
    font-weight: 700;
        font-style: italic;
}

.employers-section p{
	color: #3e3e3e;
    font-size: 16px;
    line-height: 30px;;

}

/*====end Employers====*/


/*====hotedin====*/
.hotedin-section{
    display: block;
    width: 100%;	
	background: url(../images/hotedin-bg.jpg) no-repeat center;
	padding: 55px 0px;
	background-size: cover;
}
.hotedin-box{
	width: 100%;
	background: rgba(61,91,153,0.8);
	padding: 40px 0px;
}
.hotedin-box h1{
	color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0px 0px 0px 0;
    font-size: 48px;
}
.hotedin-btn{
    width: 246px;
    background: #f8f8f8;
    text-align: center;
    height: 55px;
    font-size: 18px;
    color: #3d5b99;
    line-height: 55px;
    margin: 0px auto;
    border-radius: 50px;
           -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.hotedin-btn a{
	text-decoration: none;
    display: block;
	color: #3d5b99;
              -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
 
}

.hotedin-btn:hover{
    background: #072c79;
    color:#fff;
}
.hotedin-btn:hover a{
    color: #fff;
}

.hotedin-box h2{
	color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 0px 40px 0;
    font-size: 28px;
}
.hotedin-box h2 span{
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	font-style: italic;
}
/*====end hotedin====*/

/*====Testimonial====*/
.testimonial{
	display: block;
    width: 100%;
    padding: 80px 0px;
}

.testimonial h1{
	padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.testimonial h2{
	font-size: 16px;
	color: #2a7ed3;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
.testimonial p {
	color: #3e3e3e;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 20px 0;
}

.image-box{
    width: 66px;
    height: 66px;
    border-radius: 10px;
    margin: 10px auto;
}
.image-box img{
	border-radius:5px;
}
.name-box{
	display: block;text-align: center;
	color: #191919;
	font-weight: 700;
}
.designation{
	display: block;
	text-align: center;
	color: #191919;
	font-weight: 400;
	font-size: 14px;	
}
/*====end Testimonial====*/

/*====clients====*/
.clients-section{
	display: block;
    width: 100%;
    padding: 60px 0px;
    background: #3d5b99;
}
.clients-section h1{
    padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;	
}
.clients-section h2 {
    color: #797979;
    font-size: 20px;
    padding: 0px 0 20px 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}
ul.clients{
	width: 100%;
	display: block;
}

.clients li{
	display: inline-block;
	margin: 0px 74px 0 0;
	width: 14%;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.clients li p{
	text-align: center;
	font-size: 15px;
	color: #dcebff;
}
.clients li:last-child{
	margin-right: 0;
}
.logo-box{
	width: 100%;
	background: #fff;
	border-radius:5px;
	padding: 10px;
	margin: 0px 0px 15px 0;
}
.logo-box img{
	max-width: 100%;
}

.clients li:hover .logo-box{  
    -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
-webkit-box-shadow: 0px 1px 11px 8px rgba(14,47,112,0.55);
-moz-box-shadow: 0px 1px 11px 8px rgba(14,47,112,0.55);
box-shadow: 0px 1px 11px 8px rgba(14,47,112,0.55);
    opacity: 0.5;
}


/*====end clients====*/

.blog-section{
	display: block;
    width: 100%;
    padding: 60px 0px;	
    background: url(../images/blog-bg.jpg) no-repeat center;
    background-size: cover;
}
.blog-section h1{
    padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;	
}
.blog-section p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px 0 20px 0;
}

.blog-panel{
	width: 100%;
	background:#f6f6f6;
	border-radius:5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.blog-panel:hover{
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.blog-panel:hover .blog-panel-image{
    opacity: 0.5;
        -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog-panel:hover .Leaders-btn {
   border: 2px solid #3d5b99; 
   -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: none;
   
}

.blog-panel:hover .Leaders-btn a{
     color: #000;
}

.blog-panel-image{
	width: 100%;
	border-radius:5px;
	position:relative;
}
.blog-panel-image img{
	border-radius:5px 5px 0 0;
	    max-width: 100%;
}
.blog-panel h1{
	color: #2c2c2c;
	font-size: 18px;
	font-weight: 500;
	padding: 100px 0px 0px 0px
}
.blog-panel h2{
	color: #242424;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 0px 25px 0px
}

.blog-panel p{
color: #2c4d76;
width: 100%;
text-align: center;
font-size: 14px;
padding:0px 0px 10px 0;
}

.Leaders-btn{
	width: 160px;
    height: 35px;
    background: #3d5b99;
    text-align: center;
    /* margin: 0px auto 15px; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-bottom: 13px;
    border: 2px solid transparent;
}
.middle-image-box{
    width: 170px;
    height: 150px;
    background: #1f1c1c;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;

}
.middle-image-box img{
	max-width: 100%;
}
.Leaders-btn a{
	color: #fff;
	text-decoration: none;
}



/*====blog section====*/
.hospitality{
	display: block;
    width: 100%;
    padding: 60px 0px 0;
}

.hospitality img{
	max-width: 100%;
}

.hospitality-right{
	    width: 100%;
	    display: block;
}
.hospitality-right h1{
	color: #3d5b99;
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 0;
}
.hospitality-list{
	width: 100%;
	display: block;
	color: #242424;
	font-size: 20px;
}
.hospitality-list ul{
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}
.hospitality-list li{
	display: block;
	line-height: 40px;
}

.hospitality-list li i{
	font-size: 24px;
	color: #3d5b99;
	margin-right:10px;
}

.hospitality-right h2{
	color: #3d5b99;
	font-size: 24px;
	display: block;
	width: 100%;
	margin: 15px 0 0 0;
	font-weight: 500;
}
ul.star-listing{
	margin: 5px 0 0 0;
	padding: 0;
	list-style: none;
}
ul.btn-listing {
	margin: 10px 0px 0px 0;
}

ul.footer-listing-bottom {
    margin: 10px 0px 0px 0;
    width: 100%;
    float: left;
    padding: 0;
}

.star-listing li{
    display: inline-block;
    font-size: 30px;
    color: #f9b000;
}

.footer-listing-bottom li{
    display: inline-block;
}
.hospitality-right h3{
	color: #040505;
	font-size: 20px;
	display: block;
	width: 100%;
	margin: 0px 0 0 0;
	font-weight: 500;
}
.btn-listing li{
	margin: 0px 15px 0px 0;
}

/*====end blog section====*/
footer{
	width: 100%;
	background: #5f7ea7;
	padding: 40px 0px 0;
}
.footer-box-left{
	width: 100%;
	display: block;
}
.footer-box-left img{
	margin: 0px 0px 10px 0;
}

.footer-box-left p{
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

ul.social-icon{
    width: 100%;
    display: block;
    margin: 20px 0 0 0;
    float: left;
    padding: 0;
}

.social-icon li{
	display: inline-block;
	margin: 0px 15px 0px 0;
}
.social-icon li a{
	font-size: 26px;
	color: #ffffff;
}

.social-icon li:nth-child(1) a:hover{
    color: #007ab9;
}
.social-icon li:nth-child(2) a:hover{
    color: #4267b2;
}
.social-icon li:nth-child(3) a:hover{
    color: #1da1f3;
}
.social-icon li:nth-child(4) a:hover{
    color: #e04006;
}
.social-icon li:nth-child(5) a:hover{
    color: #ea6d3c;
}



.footer-right{
	width: 100%;
	display: block;
}
.footer-right h1{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 18px 0px;
}
.footer-right ul{
    display: block;
    list-style: none;
    padding: 0;
}

.footer-right ul li{
	display: block;
	line-height: 28px;

}

.footer-right ul li a{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}

ul.powed-listing{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.powed-listing li{
	display: inline-block;
	padding: 0px 20px;

}

.powed-listing li img{
/*  -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: brightness(0) invert(1);*/
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;

}

.powed-listing li img:hover{
/*      -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); */
    opacity: 0.5;
}




footer hr{
	background: #e5e5e5;
}
.powerd-txt{
	color:#ffffff;
	font-size: 20px;
}
.bottom-part p{
	color: #ffffff;
	font-weight: 300;
	font-size: 14px;
	padding: 12px 0px;
	margin: 0px;
}


/*=========login page section=========*/
.login-header-bg{
    width: 100%;
    display: block;
    background: url('../images/login-bg.jpg') no-repeat top center;
    position: relative;
}
.login-box-form{
    max-width: 556px;
    width: 100%;
    float: right;
    margin: 150px 0 50px 0;
    background: #fff;
    border-radius:5px;
    position: relative;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.login-box-form h1{
    text-align: center;
    color: #3d5b99;
    font-size: 24px;
    display: block;
    padding: 15px 0px;
}

.login-form{
    padding: 33px;
    border-bottom: #e7f1fb 1px solid; 
    -webkit-box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
-moz-box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
}
.login-box-form label{
    width: 100%;
    color:#414141;
    font-size: 15px;
    padding: 0px 0px 10px 0;
    font-weight: 400;
}
.login-form input[type=text]{
width: 100%;
border-radius:5px;
padding: 10px 0px;
border:#b3c5ea 1px solid;
outline: none;
text-indent: 10px;
margin-bottom: 40px;
}
.login-form input[type=password]{
width: 100%;
border-radius:5px;
padding: 10px 0px;
border:#b3c5ea 1px solid;
outline: none;
text-indent: 10px;
margin-bottom: 20px;
}

.login-form-submit-bnt{
    width: 340px;
    text-align:center;;
    border: none;
    padding: 14px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 30px auto;
    background: #3d5b99;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

.login-form-submit-bnt:focus{
    outline: none;
    border: none;
}

.check-div {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: #b3c5ea 1px solid;
}

/* On mouse-over, add a grey background color */
.check-div:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-div input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-div input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-div .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.padding-l{
    padding-left: 32px!important;
    color: #414141;
    font-size: 14px;
}

.cartoon-box{
    position: absolute;
    bottom: 0;
    left: -55%;
}

/*=========employer registration section=========*/

.employer-registration{
    width: 100%;
    display: block;
    background: url(../images/employer-registration.png) no-repeat top center;
}

h1.registration-heading{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 250px 0 0 0;
}

p.registration-para{
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 10px 0 0 0;
}

.employer-form-section{
    width: 100%;
    display: block;
}

.employer-box{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    -moz-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    padding: 25px;
}
.employer-box label{
    padding: 10px 0px 0px 0;
    font-size: 15px;
    color: #414141;
    text-align: right;
    width: 80%;
}



.employer-box input[type=text] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}
.employer-box input[type=password] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}
.employer-box input[type=email] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}

.employer-textarea{
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
    height: 106px;  
}
.employer-file-panel{
    width: 75%;
    padding: 20px 5px;
    border: #7c9cc4 1px dotted;
    border-radius: 5px;
    margin: 0 0 10px 0;

}
.upload_file_container{
    width: 100px;
    height: 40px;
    position: relative;
    margin: 30px auto;
/*   background(your img);*/
}
.blue-btn{
   width: 158px!important;
    height: 48px!important;
    position: absolute;
    line-height: 36px!important;
    left: 0;
    z-index: 9;
    top: 0;
    cursor: pointer;
    background: #395c87;
    border-radius: 50px;
    color: #fff;
    padding: 12px 0px;
    text-align: center!important;
    color: #fff!important;
    cursor: pointer; 

}

.upload_file_container input{
 width: 160px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    /* background: #395c87; */
    height: 40px;
    border-radius: 50px;
    color: #fff;
    padding: 12px 0px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}





/*=========end login page section=========*/


@media screen and (max-width: 960px) {
.clients li{
width: 29%;
margin: 0px 10px 0 0;
}
 .form-banner{
    position: relative;
  }
  .form-banner .container{
    max-width: 100%
  }
  .nav.nav-tabs li a{
    font-size: 14px;
  }
  .cvsleft-box {
    width: 100%;
    display: block;
    padding: 30px 20px;
}
.container{
    max-width: 100%;
}
ul.top-social{
    right: 0;
}
.navbar-toggler{
    margin-top:35px;
}
}

@media screen and (max-width: 768px) {
    .form-banner h1{
        font-size: 50px;
    }
   #srch{
     width: 40%;
   } 

   #submit{
    width: 15%;
   }
  .video-cvs-section{
    margin: 0px 0 0 0;
  } 
  .cvsleft-box{
    padding: 10px;
  }
  .form-banner{
    position: relative;
  }

  .nav.nav-tabs li{
   width: 33%;
  }
  .logo-box{
    text-align: center;

  }
  .clients li {
    display: inline-block;
    margin: 0px 17px 0 0;
    width: 30%;
}
.form-banner .container{
    max-width: 100%;
}
.footer-box-left{
    text-align: center;
}
footer{
    margin: 10px 0 0 0;
}
.clients li{
    width: 29%;
}
}



@media screen and (max-width: 767px) {
    .clients li{
        width: 30%;
        margin: 0px 10px 0 0;
    }
    .cvsleft-box{
        padding: 10px;
    }

    .cvsleft-box h1{
        font-size: 30px;
        padding: 0px
    }
    .cvsleft-box p{
        padding: 0px 0px 20px 0;
    }
    .cvsbtn{
        margin: 0px 0 20px 0;
        padding: 13px 50px;
    }
    .hotedin-box h1{
        font-size: 30px;
    }

    .clients li {
    display: inline-block;
    margin: 0px 10px 0 0;
    width: 30%;
}
.blog-section h1{
   font-size: 30px; 
}
.clients-section h1{
   font-size: 30px;  
}
.testimonial h1{
    font-size: 30px;   
}
.employers-section h1{
    font-size: 30px;
}
.career-section h1{
   font-size: 30px;   
}
ul.btn-listing{
    margin: 10px 0px 23px 0;
}
.hospitality-list{
    font-size: 18px;
}
.powed-listing li{
    margin-bottom: 20px;
}
.footer-box-left{
    text-align: center;
}
.footer-right{
  text-align: center;  
}
.container.bottom-part{
    text-align: center;
}
.text-right{
    text-align: center!important;
}
.cartoon-box{
   left: -30%;
}
.cartoon-box img{
max-width: 90%;
}
}



@media screen and (max-width: 620px) {
#srch,#cntry,#miles,#submit{
    width: 100%;
    margin: 0px 0px 5px 0;
}
.cartoon-box{
   display: none;
}
    .cvsleft-box{
        padding: 10px;
    }

    .cvsleft-box h1{
        font-size: 30px;
        padding: 0px
    }
    .cvsleft-box p{
        padding: 0px 0px 20px 0;
    }
    .cvsbtn{
        margin: 0px 0 20px 0;
        padding: 13px 50px;
    }
    .hotedin-box h1{
        font-size: 30px;
    }

    .clients li {
    display: inline-block;
    margin: 0px 10px 0 0;
    width: 30%;
}
.blog-section h1{
   font-size: 30px; 
}
.clients-section h1{
   font-size: 30px;  
}
.testimonial h1{
    font-size: 30px;   
}
.employers-section h1{
    font-size: 30px;
}
.career-section h1{
   font-size: 30px;   
}
ul.btn-listing{
    margin: 10px 0px 23px 0;
}
.hospitality-list{
    font-size: 18px;
}
.powed-listing li{
    margin-bottom: 20px;
}
.footer-box-left{
    text-align: center;
}
.footer-right{
  text-align: center;  
}
.container.bottom-part{
    text-align: center;
}
.text-right{
    text-align: center!important;
}
}

@media screen and (max-width: 480px) {
.powed-listing li{
    width: 100%;
  }
.form-banner h1{
    font-size: 30px;
}
.nav.nav-tabs li{
    width: 100%;
}
.clients li{
    width: 93%; 
}
}

@media screen and (max-width: 320px) {
.btn-listing li{
margin: 0px 0px 0px 0;
}
.logo-box{
    text-align: center;
    height: auto;
}
.clients li{
    width: 93%;
}

ul.top-social{
    display: none;
}

.login-form-submit-bnt{
    width: 232px;
}

}