@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700');
body {
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.pull-left{
	float: left !important;
}
.clearfix{
	display: table;
	clear: both;
	width: 100%;
}
header.fx {
    position: absolute;
    z-index: 999;
    background: transparent;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.navbar-brand{
	height:auto;
}

.top-_left{
    float: left;
}
.top-right{
    float: left;
}

ul.top-social{
    display: block;
    padding: 0;
    position: absolute;
    right: 109px;
    top:10px;
    z-index: 999;
}

.top-social li{
	display: inline-block;
	margin: 0px 20px 0px 0;
}
.top-social li a{
	font-size: 18px;
	color: #ffffff;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.top-social li a img{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
        -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.top-social li a img:hover{
     -webkit-transform: scale3d(1.2, 1.2, 1);
     transform: scale3d(1.2, 1.2, 1);
}

.top-social li a:hover{

}

.top-social li:nth-child(1) a:hover{
    color: #007ab9;
}
.top-social li:nth-child(2) a:hover{
    color: #4267b2;
}
.top-social li:nth-child(3) a:hover{
    color: #1da1f3;
}
.top-social li:nth-child(4) a:hover{
    color: #e04006;
}
.top-social li:nth-child(5) a:hover{
    color: #ea6d3c;
}

header.fx.fixed{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: rgba(61,91,153,0.75);
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
   font-size: 15px;
   padding: 0px 11px;
        -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: scale(1.0, 1.0);
}

.navbar-dark .navbar-nav .nav-link:hover{
       transform: scale(1.2, 1.2);
       color: #fff;
}


.navbar-dark .navbar-nav .nav-link strong{

	font-weight:500;
	text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav{
	margin-top: 40px;
}

.form-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 99;
    text-align: center;
    width: 100%;
    padding: 25px;
}
.form-banner .container {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 15px 20px;
}
.form-banner h1{
	font-size: 71px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
}
.form-banner h1 a:hover{
      font-size: 80px;
}
.form-banner h1 a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

}

.form-banner h3{
	font-size: 42px;
    letter-spacing: 1.9px;
    font-weight: 200;
    margin: 10px 0 20px;
}
.form-banner h3 strong{
	font-weight: 900;
	font-size: 53px;
	font-style: italic;

}
.form-control{
	border-radius: 0;
	border: 0;
	font-family: 'fontAwesome','Poppins';
	color: #afafaf;
	height: 50px;
	font-weight: 300;
	padding: .375rem 1rem;
	font-size: 17px;
}
.form-body.clearfix {
    padding: 10px;
    margin-top: 15px;
    background: rgba(255,255,255,0.25);
    border-radius: 5px;
}
#srch{
	width: 45%;
    border-right: 1px solid #cbcbcb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 15px;
}
#cntry{
	width: 30%;
	border-right: 1px solid #cbcbcb;
	padding: 30px 10px;
}
#miles{
	width: 15%;
	padding: 30px 10px;
}
#submit{
    width: 10%;
    background: #3d5b99;
    border: 0;
    border-radius: 0;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 8px;
    font-size: 20px;
    font-weight: 500;
     -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#submit:hover{

     }
.round-btn{
	border-radius: 35px;
    border: none;
    background: #3d5b99;
    margin: 15px auto;
    font-size: 18px;
    text-transform: capitalize;
    padding: 8px 25px;
    font-weight: 300;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.round-btn:hover{
    padding: 8px 35px;
     background: #3d5b99;
}

.nav-tabs{
	border-bottom: 0;

}
.nav.nav-tabs li a{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	display: block;
	background: rgba(61,91,153,0.8);
	line-height: 50px;
	text-transform: capitalize;
	text-decoration: none;
       -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.nav.nav-tabs li a:hover{
   font-size: 18px;
   font-weight: 700;
}
.nav.nav-tabs li{
	float:left;
	width: 16.6%;
	text-align: center;;
	margin: 0;
	padding: 0;
}
.nav.nav-tabs li a.active{
	    background: rgba(61,91,153,0.8);
        font-weight: 700;
}
.tab-content{
	background: rgba(61,91,153,0.8);
	width: 100%;
	padding: 0px 22px;
}

.form-banner .container-new {
    max-width: 1140px;
  	margin: -8px auto;
}

.tab-box{
	width: 100%;
	display: block;
}

.tab-box h2{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 0px;
    text-align: left;
    margin: 0;
}

.tab-box h2 i{
	font-size: 26px;
	margin: 0px 10px 0px 0px
}

.tab-box ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 0px 0 20px 0;
}
.tab-box ul li{
	display: block;
		text-align: left;
}
.tab-box ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

}

.tab-box ul li a:hover{

    font-size: 16px;
}
.tab-box ul li a:hover span{
     font-size: 16px;
}

.tab-box ul li a span{
	color: #51a4f8;
}

.video-cvs-section{
width: 100%;
display: block;

}
.left-bg{

	background: #3d5b99;
}
.cvsleft-box{
	width: 100%;
	display: block;
	padding: 100px 70px 0 98px;
}
.cvsleft-box h1{
	color: #fff9f5;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px 0px 30px 0;
	font-size: 48px;
}
.cvsleft-box p{
	color: #fff9f5;
	font-size: 17px;
	padding: 0px 0px 80px 0;
	line-height: 30px;
	margin: 0;
	font-weight: normal;
}
.cvsbtn{
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    display: inline-block;
    margin: 0px 0px 120px 0;
}
.cvsbtn a{
	color: #3d5b99;
	text-decoration: none;
	display: block;
    padding: 15px 60px;
     border-radius: 50px;
     -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;

}

.cvsbtn a:hover{
    padding: 15px 70px;

}

.video-box{
width: 100%;
display: block;
}

.career-section{
width: 100%;
display: block;
padding: 70px 0px;
}
.career-section h1{
	padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}

.hover-in{
    cursor: pointer;
}

.hover-in img{
    transform: scale3d(1, 1, 1);
         -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.hover-in:hover img{
     -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.career-section h2{
	color: #797979;
	font-size: 20px;
	padding: 0px 0 20px 0;
	color: #797979;
	width: 100%;
	text-align: center;
	 font-weight: 700;
	     font-style: italic;
}
.career-section h3{
    color: #282828;
    font-size: 30px;
    font-weight: 400;
    padding: 15px 0px;
}
.career-section p{
	color: #595959;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding: 0px 18px;
    margin: 0;
}
.register-btn{
    display: inline-block;

    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px auto;
    font-weight: 500;

}

.register-btn a{
    color: #fff;
    text-decoration: none;
    background: #3d5b99;
    padding: 15px 60px;
    float: left;
    border-radius: 50px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.register-btn a:hover{
    padding: 15px 70px;

}

.career-section h5{
	color: #4e4e4e;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	padding: 40px 0px;
	display: block;
	width: 100%;
}

.bottom-panle{
	padding: 100px 70px 0 70px;
}
.bottom-panle p{
	   padding: 0px 0px 30px 0;
}

/*====Employers====*/
.employers-section{
    display: block;
    width: 100%;
    padding: 80px 0px;
}
.employers-section h1{
   padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.employers-section h2 {
    color: #797979;
    font-size: 20px;
    padding: 0px 0 20px 0;
    color: #797979;
    width: 100%;
    text-align: center;
    font-weight: 700;
        font-style: italic;
}

.employers-section p{
	color: #3e3e3e;
    font-size: 16px;
    line-height: 30px;;

}

/*====end Employers====*/


/*====hotedin====*/
.hotedin-section{
    display: block;
    width: 100%;
	background: url(../.././images/new/hotedin-bg.jpg) no-repeat center;
	padding: 55px 0px;
	background-size: cover;
}
.hotedin-box{
	width: 100%;
	background: rgba(61,91,153,0.8);
	padding: 40px 0px;
}
.hotedin-box h1{
	color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0px 0px 0px 0;
    font-size: 48px;
}
.hotedin-btn{
/*    width: 246px;*/
    background: #f8f8f8;
    display: inline-block;
    padding: 0px 60px;
    text-align: center;
    height: 55px;
    font-size: 18px;
    color: #3d5b99;
    line-height: 55px;
    margin: 0px auto;
    border-radius: 50px;
           -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.hotedin-btn a{
	text-decoration: none;
    display: block;
	color: #3d5b99;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

}

.hotedin-btn:hover{
    padding: 0px 70px;
}
.hotedin-btn:hover a{

}

.hotedin-box h2{
	color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 0px 40px 0;
    font-size: 28px;
}
.hotedin-box h2 span{
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	font-style: italic;
}
/*====end hotedin====*/

/*====Testimonial====*/
.testimonial{
	display: block;
    width: 100%;
    padding: 80px 0px;
}

.testimonial h1{
	padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #3d5b99;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.testimonial h2{
	font-size: 16px;
	color: #2a7ed3;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}
.testimonial p {
	color: #3e3e3e;
    font-size: 16px;
    line-height: 30px;
    padding: 0px 0px 20px 0;
}

.image-box{
    width: 66px;
    height: 66px;
    border-radius: 10px;
    margin: 10px auto;
}
.image-box img{
	border-radius:5px;
}
.name-box{
	display: block;text-align: center;
	color: #191919;
	font-weight: 700;
}
.designation{
	display: block;
	text-align: center;
	color: #191919;
	font-weight: 400;
	font-size: 14px;
}
/*====end Testimonial====*/

/*====clients====*/
.clients-section{
	display: block;
    width: 100%;
    padding: 60px 0px;
    background: #3d5b99;
}
.clients-section h1{
    padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.clients-section h2 {
    color: #797979;
    font-size: 20px;
    padding: 0px 0 20px 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}
ul.clients{
	width: 100%;
	display: block;
}

.clients li{
	display: inline-block;
	margin: 0px 74px 0 0;
	width: 14%;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.clients li p{
	text-align: center;
	font-size: 15px;
	color: #dcebff;
}
.clients li:last-child{
	margin-right: 0;
}
.logo-box{
	width: 100%;
	background: #fff;
	border-radius:5px;
	padding: 10px;
	margin: 0px 0px 15px 0;
        -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

}
.logo-box img{
	max-width: 100%;
}

.clients li:hover .logo-box{
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: scale3d(1.2, 1.2, 1);
}


/*====end clients====*/

.blog-section{
	display: block;
    width: 100%;
    padding: 60px 0px;
    background: url(../.././images/new/blog-bg.jpg) no-repeat center;
    background-size: cover;
}
.blog-section h1{
    padding: 0 0 22px 0;
    margin: 0;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    width: 100%;
}
.blog-section p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px 0 20px 0;
}

.blog-panel{
	width: 100%;
	background:#f6f6f6;
	border-radius:5px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.blog-panel:hover{
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.blog-panel:hover .Leaders-btn {

   -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
       padding: 0px 60px;



}

.blog-panel:hover .Leaders-btn a{
    color: #fff;
}
.blog-panel:hover .blog-panel-image img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}

.blog-panel-image{
	width: 100%;
	border-radius:5px 5px 0 0;
	position:relative;
    overflow: hidden;
    height: 230px;
}
.blog-panel-image img{
	border-radius:5px 5px 0 0;
	max-width: 100%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
      -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog-panel h1{
	color: #2c2c2c;
	font-size: 18px;
	font-weight: 500;
	padding: 30px 0px 0px 0px
}
.blog-panel h2{
	color: #242424;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 0px 25px 0px
}

.blog-panel p{
color: #2c4d76;
width: 100%;
text-align: center;
font-size: 14px;
padding:0px 0px 10px 0;
}

.Leaders-btn{
    background: #3d5b99;
    padding: 0px 50px;
    text-align: center;
    /* margin: 0px auto 15px; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-bottom: 13px;
    border: 2px solid transparent;
      -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
   -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    cursor: pointer;
}

.Leaders-btn:hover{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}





.middle-image-box{
    width: 170px;
    height: 150px;
    position: relative;
    margin: auto;
    margin-top: -80px;
    overflow: hidden;

}
.middle-image-box img{
	max-width: 100%;
}
.Leaders-btn a{
	color: #fff;
	text-decoration: none;
}



/*====blog section====*/
.hospitality{
	display: block;
    width: 100%;
    padding: 60px 0px 0;
}

.hospitality img{
	max-width: 100%;
}

.hospitality-right{
	    width: 100%;
	    display: block;
}
.hospitality-right h1{
	color: #3d5b99;
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0 0 0;
}
.hospitality-list{
	width: 100%;
	display: block;
	color: #242424;
	font-size: 20px;
}
.hospitality-list ul{
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}
.hospitality-list li{
	display: block;
	line-height: 40px;
}

.hospitality-list li i{
	font-size: 24px;
	color: #3d5b99;
	margin-right:10px;
}

.hospitality-right h2{
	color: #3d5b99;
	font-size: 24px;
	display: block;
	width: 100%;
	margin: 15px 0 0 0;
	font-weight: 500;
}
ul.star-listing{
	margin: 5px 0 0 0;
	padding: 0;
	list-style: none;
}
ul.btn-listing {
	margin: 10px 0px 0px 0;
}

.btn-listing li a img{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.btn-listing li a img:hover{
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

ul.footer-listing-bottom {
    margin: 10px 0px 0px 0;
    width: 100%;
    float: left;
    padding: 0;
}

ul.footer-listing-bottom a{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

ul.footer-listing-bottom a img{
   -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
/*.btn-listing li a img:hover{
    transform: scale3d(1.2, 1.2, 1);
}*/

ul.footer-listing-bottom a:hover img{
    transform: scale3d(1.1, 1.1, 1);
}

.star-listing li{
    display: inline-block;
    font-size: 30px;
    color: #f9b000;
}

.footer-listing-bottom li{
    display: inline-block;
}
.hospitality-right h3{
	color: #040505;
	font-size: 20px;
	display: block;
	width: 100%;
	margin: 0px 0 0 0;
	font-weight: 500;
}
.btn-listing li{
	margin: 0px 15px 0px 0;
}
.btn-listing li a{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn-listing li a:hover{

}

/*====end blog section====*/
footer{
	width: 100%;
	background: #5371b1;
	padding: 40px 0px 0;
}
.footer-box-left{
	width: 100%;
	display: block;
}
.footer-box-left img{
	    margin: 0px 0px 10px 0;
    max-width: 90%;
}

.footer-box-left p{
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

ul.social-icon{
    width: 100%;
    display: block;
    margin: 20px 0 0 0;
    float: left;
    padding: 0;
}

.social-icon li{
	display: inline-block;
	margin: 0px 15px 0px 0;
}
.social-icon li a{
	font-size: 26px;
	color: #ffffff;
      -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.social-icon li a img{
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
                -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.social-icon li a img:hover{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}





.social-icon li a:hover{

}

.social-icon li:nth-child(1) a:hover{
    color: #007ab9;
}
.social-icon li:nth-child(2) a:hover{
    color: #4267b2;
}
.social-icon li:nth-child(3) a:hover{
    color: #1da1f3;
}
.social-icon li:nth-child(4) a:hover{
    color: #e04006;
}
.social-icon li:nth-child(5) a:hover{
    color: #ea6d3c;
}



.footer-right{
	width: 100%;
	display: block;
}
.footer-right h1{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 0px 18px 0px;
}
.footer-right ul{
    display: block;
    list-style: none;
    padding: 0;
}

.footer-right ul li{
	display: block;
	line-height: 28px;

}

.footer-right ul li a{
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
        -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.footer-right ul li a:hover{
    font-size: 16px;
}

ul.powed-listing{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.powed-listing li{
	display: inline-block;
	padding: 0px 20px;

}

.powed-listing li img{
/*  -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0
    filter: brightness(0) invert(1);*/
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);

}

.powed-listing li img:hover{
/*      -webkit-filter: grayscale(0%);
    filter: grayscale(0%); */

    -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);

}





footer hr{
	background: #e5e5e5;
}
.powerd-txt{
	color:#ffffff;
	font-size: 20px;
}
.bottom-part p{
	color: #ffffff;
	font-weight: 300;
	font-size: 14px;
	padding: 12px 0px;
	margin: 0px;
}

.text-right a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.text-right a:hover{
   text-shadow: 2px 2px 2px rgba(52, 79, 135, 1);
   color: #000;
}




/*=========login page section=========*/
.login-header-bg{
    width: 100%;
    display: block;
    background: url('../.././images/new/login-bg.jpg') no-repeat top center;
    position: relative;
}
.login-box-form{
    max-width: 556px;
    width: 100%;
    float: right;
    margin: 150px 0 50px 0;
    background: #fff;
    border-radius:5px;
    position: relative;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.size-big a{
    font-size: 16px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
       transform: scale(1.0, 1.0);
}

.size-big a:hover{
    font-size: 18px;
}

.login-box-form h1{
    text-align: center;
    color: #3d5b99;
    font-size: 24px;
    display: block;
    padding: 15px 0px;
}

.login-form{
    padding: 33px;
    border-bottom: #e7f1fb 1px solid;
    -webkit-box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
-moz-box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
box-shadow: 1px -2px 5px -2px rgba(179,170,179,1);
}
.login-box-form label{
    width: 100%;
    color:#414141;
    font-size: 15px;
    padding: 0px 0px 10px 0;
    font-weight: 400;
}
.login-form input[type=text]{
width: 100%;
border-radius:5px;
padding: 10px 0px;
border:#b3c5ea 1px solid;
outline: none;
text-indent: 10px;
margin-bottom: 40px;
}
.login-form input[type=password]{
width: 100%;
border-radius:5px;
padding: 10px 0px;
border:#b3c5ea 1px solid;
outline: none;
text-indent: 10px;
margin-bottom: 20px;
}

.login-form-submit-bnt{
    width: 340px;
    text-align:center;;
    border: none;
    padding: 14px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 30px auto;
    background: #3d5b99;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: scale(1.0, 1.0);
}

.login-form-submit-bnt:hover{
    transform: scale(1.2, 1.2);
}

.login-form-submit-bnt:focus{
    outline: none;
    border: none;
}

.check-div {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: #b3c5ea 1px solid;
}

/* On mouse-over, add a grey background color */
.check-div:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-div input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-div input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-div .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.padding-l{
    padding-left: 32px!important;
    color: #414141;
    font-size: 14px;
}

.cartoon-box{
    position: absolute;
    bottom: 0;
    left: -55%;
}

/*=========end login page section=========*/



.employer-registration{
    width: 100%;
    display: block;
    background: url(../.././images/new/employer-registration.png) no-repeat top center;
}

h1.registration-heading{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 150px 0 0 0;
}

p.registration-para{
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 10px 0 0 0;
}

.employer-form-section{
    width: 100%;
    display: block;
}

.employer-box{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    -moz-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    padding: 25px;
}

.employer-box h3{
    text-transform: capitalize;
    font-size: 20px;
    width: 100%;
    display: block;
    font-weight: normal;
}
.employer-box label{
    padding: 10px 0px 0px 0;
    font-size: 14px;
    color: #414141;
    text-align: right;
    width: 80%;
}

.employer-box label span{
    color: #e40020;
    font-size: 22px;
}



.employer-box input[type=text] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}
.employer-box input[type=password] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}
.employer-box input[type=email] {
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
}

.employer-textarea{
    width: 75%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
    height: 106px;
}
.employer-file-panel{
    width: 75%;
    padding: 20px 5px;
    border: #7c9cc4 2px dashed;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.employer-file-panel span{
    text-align: center;
    width: 100%;
    display: block;
    color:#7c9cc4;
}

.upload_file_container{
    width: 154px;
    height: 40px;
    position: relative;
    margin: 15px auto;
        -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
/*   background(your img);*/
}
.blue-btn{
   width: 158px!important;
    height: 48px!important;
    position: absolute;
    line-height: 36px!important;
    left: 0;
    z-index: 9;
    top: 0;
    cursor: pointer;
    background: #3d5b99;
    border-radius: 50px;
    color: #fff;
    padding: 12px 0px;
    text-align: center!important;
    color: #fff!important;
    cursor: pointer;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
        -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

}
.upload_file_container:hover .blue-btn{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
        -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.upload_file_container input{
    width: 154px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    padding: 9px 0px;
    opacity: 0;
    cursor: pointer;
}
/*=========end employer registration section=========*/

.show-form{
    display: none;
    background: #eeeeee;
    padding: 20px 0;
}
.show-form h3{

}



.show-form input[type=text] {
    width: 96%!important;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 8px 0;
    margin: 0 0 10px 0;
}
.show-form input[type=email] {
    width: 96%!important;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 8px 0;
    margin: 0 0 10px 0;
}

.employer-textarea-hide {
    width: 96%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
    height: 106px;
}




.candidate-registration-section{
    width: 100%;
    display: block;
    background: url(../.././images/new/candidate-registration.jpg) no-repeat  center;
    height: 500px;
}

.candidate-registration-form {
    width: 100%;
    display: block;
}

h1.candidate-registration-section-heading {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin: 150px 0 0 0;
}

p.candidate-para{
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 10px 0 0 0;
}


.candidate-registration-form input[type=text] {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 8px 0;
    margin: 0 0 10px 0;
}
.candidate-registration-form input[type=password] {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 8px 0;
    margin: 0 0 10px 0;
}
.candidate-registration-form input[type=email] {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 8px 0;
    margin: 0 0 10px 0;
}

.candidate-textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 10px 0;
    height: 106px;
}

.candidate-file-panel{
    width: 100%;
    padding: 20px 5px;
    border: #7c9cc4 2px dashed;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.candidate-file-panel span{
    text-align: center;
    width: 100%;
    display: block;
    color:#7c9cc4;
}

.candidate-register{
    padding: 15px 63px;
    display: block;
    background: #3d5b99;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.candidate-register:hover{
     padding: 15px 100px;

}

.add-btn{
    padding: 7px 25px;
    border: #47688f 2px solid;
    background: none;
    border-radius: 50px;
    margin-bottom: 10px;
    color: #46678f;
    font-size: 16px;
    font-weight: 400;
        -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.add-btn:hover{
   padding:7px 50px;
}
.add-btn:hover i{
    color: #46678f;
}

.add-btn i{
    color: #46678f;
    font-size: 16px;
}

.youtube-box{
    padding: 23px 0;
    width: 100%;
    display: block;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    -moz-box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
    box-shadow: 1px 0px 5px 1px rgba(224,220,224,1);
}
h2.youtube-heding{
    color: #395c87;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 20px 15px;
    text-transform: uppercase;
    border-bottom: #e3e3e3 1px solid;
}

.youtube-box p{
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    line-height: 30px;
}

.recorder-box{
    width: 94%;
    background: #363636;
    margin: auto;
}

.candidate-video-btn{
    width: 44px;
    height: 44px;
    background: #3d5b99;
    border:#ffffff 8px solid;
    border-radius:50%;
    margin: 24px auto 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.candidate-video-btn:hover{
    background: #0069d9;
}
form{
    margin: 0;
    padding: 0;
}

/*=========end candidate section=========*/

.dashboard{
    width: 100%;
    display: block;
    background: url('../.././images/new/dashboard-banner.jpg') no-repeat top center;
}
.dashboard-panel{
    margin: 80px 0px 0;
    width: 100%;
    display: block;
}

h1.dashboard-heading{
    color: #395c87;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
}

.dashboard-section{
      width: 100%;
    display: block;
}

h3.manage{
    color: #395c87;
    font-size: 30px;
    display: block;
    width: 100%;
    font-weight: 500;
}

.dashboard-list{
    width: 100%;
    display: block;
}

.dashboard-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard-list ul li{
    display: inline-block;
    border: #ebeef3 1px solid;
    margin-bottom: 20px;
    margin-right: 10px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.dashboard-list ul li a{
    padding: 20px 29px;
    float: left;

}

.dashboard-list ul li a img{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
        -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.dashboard-list ul li h3{
 color:#395c87;
 font-size: 15px;
 text-align: center;
}

.dashboard-list ul li:hover img{
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}


.job-categories-panel{
    width: 100%;
    display: block;
    background: #395c87;
}

.job-categories-panel h3{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    width: 100%;
}
ul.dashboard-listing{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard-listing li{
    line-height: 40px;
}

.dashboard-listing li a{
    color: #fbfdff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
     -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.dashboard-listing li a:hover{
    font-size: 16px;
}

.dashboard-blog-section{
    width: 100%;
    display: block;
    background: url('../.././images/new/dashboard-blog-bg.jpg') no-repeat  center;
    background-size:cover;
}
h1.dashboard-blog-heading{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}
.dashboard-blog-para{
      width: 100%;
      color: #fff;
      font-size: 20px;
}


.dashboard-blog-grid{
    width:calc(100%/5);;
    float: left;
    padding: 0px 10px;
         -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    margin-bottom: 15px;
}
.blog-grid-box{
    width: 100%;
    background: #fff;
    border-radius:5px;
    float: left;
    cursor: pointer;
}
.blog-grid-box-image{
overflow:hidden;
border-radius:5px 5px 0px 0;
height: 150px;
opacity: 1;
}

.blog-grid-box-image img{
 object-fit: cover;
 height: 100%;
 width: 100%;
}


.blog-grid-box-title{
    color: #6d6d6d;
    font-size: 13px;
    padding: 15px 10px;
    text-align: center;
    margin: 0;
}

.leaders-btn{
    max-width: 123px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    background: #2c4d76;
    display: block;
    border-radius: 50px;
    margin: 0px auto 20px;
}

.leaders-btn a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 0px;
}



.blog-grid-box:hover {
         -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}
.blog-grid-box:hover .blog-grid-box-image{
    opacity:0.5;
     -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blog-grid-box:hover .leaders-btn{
   background-color: #0069d9;
}


/*=========end blog page section=========*/


.candidate-section{
    width: 100%;
    display: block;
    background: url(../.././images/new/dashboard-banner.jpg) no-repeat top center;
    min-height:400px;
}
.candidate-dashboard-panel {
    margin: 50px 0px 0;
    width: 100%;
    display: block;
}
.candidate-heading-color{
    color:#395c87!important;
}
.candidate-paragraph{
    color: #999999;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.profile-completion{
    font-size: 24px;
    font-weight: 300;
    color: #395c87;
}

.mx-auto .progress-bar{
    background: #395c87;
}
/*=========end candidate dashboard  page section=========*/
.contact-page-section{
    width: 100%;
    display: block;
    background: url(../.././images/new/contact-banner.jpg) no-repeat;
    min-height:498px;
}
.contact-page-left-box{
    max-width:978px;
    width: 100%;
}
.contact-page-shadow{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(59,57,59,0.1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(59,57,59,0.1);
    box-shadow: 1px 1px 5px 1px rgba(59,57,59,0.1);
    padding-top: 15px;
}
.contact-rgt-bg{
    background: #395d87;
    padding: 8px 15px;
}

.contact-page-left-box input[type=text]{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 20px 0;
}
.contact-page-left-box input[type=email]{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 20px 0;
}
.contact-page-textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: #7c9cc4 1px solid;
    outline: none;
    text-indent: 10px;
    margin-bottom: 40px;
    padding: 12px 0;
    margin: 0 0 20px 0;
    height: 106px;
}
.contact-page-left-box label{
    font-size: 14px;
    color: #3d6eaa;
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.contact-rgt-bg h1{
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0;
}

.contact-rgt-bg p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    margin: 0;
}
.contact-rgt-bg i{
    color: #fff;
    font-size: 32px;
}

/*=========end contact  page section=========*/


.search-page{
    margin: 150px 0 0 0;
}

.search-page-bg{
      background: #395c87!important;
      border-radius: 5px!important;
}
.color-0{
    color: #395c87;
    border-left: #dddddd 1px solid!important;
    text-transform: uppercase;
}
.color-0:hover{
    color: #395c87;
}

.left-gra-border{
    border: #e1e1e1 1px solid;
}

.left-gra-border h1{
    color: #395c87;
    font-size: 20px;
    font-weight: normal;
}

.search-page-list{
    width: 100%;
}

.search-page-list ul{
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.search-page-list li{
    display: block;
    line-height: 25px;
}
.search-page-list li a{
    color: #777777;
    font-size: 14px;
    text-decoration: none;
    padding-left:25px;
    transform: scale(1.0, 1.0);
        -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.search-page-list li a:hover{
   font-size: 15px;
}

  .search-chk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.search-chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: #b5b5b5 1px solid;
}

/* On mouse-over, add a grey background color */
.search-chk:hover input ~ .checkmark1 {
    background-color: #a29d9d;
}

/* When the checkbox is checked, add a blue background */
.search-chk input:checked ~ .checkmark1 {
    background-color: #777777;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.search-chk input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.search-chk .checkmark1:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.searchlist-heading{
    color: #757575;
    font-size: 20px;
    font-weight: 300;
}

.searchlist-sub-heading{
    color: #2a7ed3;
    font-size: 20px;
    font-weight: 400;
}

.searchlist-sub-para{
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.media i{
    color: #2a7ed3;
    font-size: 16px;
    margin-right: 10px;
}


.line-1{
    background: #ebebeb;
    height: 1px;
}


.searchlist-btn{
    background: #3d5b99;
    border-radius: 50px;
    border: none;
    width: 120px;
    padding: 12px 0;
    text-transform: uppercase;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
         -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.searchlist-btn:hover{
   background: #3d5b99;
       -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}


.candided-job-panel{
    width: 100%;
    background: #fff;
    border-radius:5px 5px 0 0;
        box-shadow: 0 1px 1px rgba(34,34,34,.2);
}

.candided-job-panel img{
     border-radius:5px 5px 0 0;
}

.candided-job-panel h1{
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0px 0px 0px;
}
.candided-job-panel h2 {
    color: #242424;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0px 25px 0px;
}

.candided.owl-theme .owl-nav {
    /* margin-top: 10px; */
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 0;
    /* width: 100%; */
       width: 100%;
}

.candided .owl-prev{
    background: #000!important;
    width: 30px;
    height: 30px;
    color: #fff!important;
    position: absolute;
    left: 0;
}

.candided .owl-next{
    background: #000!important;
    width: 30px;
    height: 30px;
    color: #fff!important;
     position: absolute;
    right: 0;
}

.about-heading-color{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    padding-top: 100px;
}
.about-small-heading{
    font-size:30px;
    color: #fff;
}
/*=========end candided  page section=========*/

.about-page-section{
    width: 100%;
    display: block;
    background: url(../.././images/new/about-bg.jpg) no-repeat  top center;
    height: 554px;
    position: relative;
    overflow: hidden;
}

.about-rit-div{
    position: relative;
}

.about-rit-div:before{
    position: absolute;
    width: 7px;
    height: 100%;
    top: 0;
    left: -28px;
    content: "";
    background: #d6d6d6;
}

h2.about-page-sub-heading{
    font-size: 24px;
    color: #395c87;
    line-height: 30px;
}

h2.ount2{
    position:relative;
}
h2.ount3{
    position:relative;
}
h2.ount1{
    position:relative;
}

h2.count1:before{
    position: absolute;
    width: 30px;
    height: 30px;
    top: inherit;
    left: -40px;
    content: "";
    background: #395c87;
    border-radius:50px;
}

h2.count2:before{
    position: absolute;
    width: 30px;
    height: 30px;
    top: inherit;
    left: -40px;
    content: "";
    background: #395c87;
    border-radius:50px;
}
h2.count3:before{
    position: absolute;
    width: 30px;
    height: 30px;
    top: inherit;
    left: -40px;
    content: "";
    background: #395c87;
    border-radius:50px;
}

h2.count1:after{
    position: absolute;
    top: 0;
    left: -29px;
    content: "1";
    z-index: 1;
    color: #fff;
    font-size: 18px;
}

h2.count2:after{
    position: absolute;
    top: inherit;
    left: -29px;
    content: "2";
    z-index: 1;
    color: #fff;
     font-size: 18px;
}
h2.count3:after{
    position: absolute;
    top: inherit;
    left: -29px;
    content: "3";
    z-index: 1;
    color: #fff;
     font-size: 18px;
}
.about-page-section-para{
    font-size: 14px;
    line-height: normal;
}

ul.mediem-size{
    font-size: 16px;
    color: #fff;
}

ul.mediem-size li{
    position: relative;
}
ul.mediem-size li:before{
    position: absolute;
    top: -15px;
    left: -30px;
    color: #fff;
    content: "\f3fd";
    font-size: 34px;
    color: #fff;
    font-family: "Ionicons";
}

ul.mediem-size li a{
    color: #fff;
    text-decoration: none;
}

/*=========end about  page section=========*/


.employee-section{
    width: 100%;
    display: block;
    background: url(../.././images/new/employee-banner.jpg) no-repeat  top center;
    height: 572px;
    overflow: hidden;
    position: relative;
}

.employee-banner-part{
margin:150px 0 0 0;
}

.employee-banner-part-heading{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 10px;
}

.employee-banner-part-heading-sub{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}

ul.employee-list{
color: #fff;
font-size: 14px;
}

.employee-list li{
margin-bottom: 15px;
}
.employee-list li i{
    margin-right: 10px;
}

.employee-table{
   background: rgba(255,255,255,0.75);
   color: #000000;
   font-size: 14px;
   font-weight: normal;
   margin-top: 20px;
}

.employee-table th{
   background: rgba(255,255,255,0.75);
   border-bottom: none;
   color: #000000;
   font-size: 14px;
   font-weight: normal;
}

.employee-btn{
    background: #395c87;
    border-radius:50px;
    border: none;
    font-size: 14px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.employee-btn:hover{
     background: #395c87;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
.employee-bottom-text{
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
   position: absolute;
   bottom: 0;
}

.employee-paragraph{
    font-size: 14px;
    line-height: 30px;
}







@media screen and (max-width: 960px) {
.clients li{
width: 29%;
margin: 0px 10px 0 0;
}
 .form-banner{
    position: relative;
  }
  .form-banner .container{
    max-width: 100%
  }
  .nav.nav-tabs li a{
    font-size: 14px;
  }

  .cvsleft-box {
    width: 100%;
    display: block;
    padding: 30px 20px;
}

ul.top-social{
    right: 0;
}
.navbar-toggler{
    margin-top:35px;
}
.dashboard-blog-grid{
    width: calc(100%/5);
}

.employee-banner-part-heading{
    font-size: 30px;
}
.employee-banner-part-heading-sub{
    font-size: 20px;
}

.employee-section{
    background-size: cover;
    height: auto;
}

}

@media screen and (max-width: 768px) {
    .form-banner h1{
        font-size: 50px;
    }
        .form-banner h1 a:hover{
        font-size: 55px;
    }
   #srch{
     width: 40%;
   }

   #submit{
    width: 15%;
   }

  .video-cvs-section{
    margin: 0px 0 0 0;
  }
  .cvsleft-box{
    padding: 10px;
  }
  .form-banner{
    position: relative;
  }

  .nav.nav-tabs li{
   width: 33%;
  }
  .logo-box{
    text-align: center;

  }
  .clients li {
    display: inline-block;
    margin: 0px 17px 0 0;
    width: 30%;
}
.form-banner .container{
    max-width: 100%;
}
.footer-box-left{
    text-align: center;
}
footer{
    margin: 10px 0 0 0;
}
.clients li{
    width: 29%;
}
.dashboard-blog-grid{
    width: calc(100%/3);
}


.employee-banner-part-heading{
    font-size: 30px;
}
.employee-banner-part-heading-sub{
    font-size: 20px;
}
}



@media screen and (max-width: 767px) {
    .clients li{
        width: 30%;
        margin: 0px 10px 0 0;
    }
    .dashboard-blog-grid{
    width: calc(100%/3);
}
    .cvsleft-box{
        padding: 10px;
    }

    .cvsleft-box h1{
        font-size: 30px;
        padding: 0px
    }
    .cvsleft-box p{
        padding: 0px 0px 20px 0;
    }
    .cvsbtn{
        margin: 0px 0 20px 0;

    }
    .hotedin-box h1{
        font-size: 30px;
    }

    .clients li {
    display: inline-block;
    margin: 0px 10px 0 0;
    width: 30%;
}
.blog-section h1{
   font-size: 30px;
}
.clients-section h1{
   font-size: 30px;
}
.testimonial h1{
    font-size: 30px;
}
.employers-section h1{
    font-size: 30px;
}
.career-section h1{
   font-size: 30px;
}
ul.btn-listing{
    margin: 10px 0px 23px 0;
}
.hospitality-list{
    font-size: 18px;
}
.powed-listing li{
    margin-bottom: 20px;
}
.footer-box-left{
    text-align: center;
}
.footer-right{
  text-align: center;
}
.container.bottom-part{
    text-align: center;
}
.text-right{
    text-align: center!important;
}
.cartoon-box{
   left: -30%;
}
.cartoon-box img{
max-width: 90%;
}
.employer-box label{
    text-align: left;
}
.employer-box input[type="text"]{
    width: 100%;
}
.employer-box input[type="password"]{
  width: 100%;
}
.employer-box input[type="email"]{
  width: 100%;
}
.employer-file-panel{
width: 100%;
}
.employer-textarea{
   width: 100%;
}
}



@media screen and (max-width: 620px) {
#srch,#cntry,#miles,#submit{
    width: 100%;
    margin: 0px 0px 5px 0;
}
.cartoon-box{
   display: none;
}
    .cvsleft-box{
        padding: 10px;
    }

    .cvsleft-box h1{
        font-size: 30px;
        padding: 0px
    }
    .cvsleft-box p{
        padding: 0px 0px 20px 0;
    }

    .hotedin-box h1{
        font-size: 30px;
    }

    .clients li {
    display: inline-block;
    margin: 0px 10px 0 0;
    width: 30%;
}
.blog-section h1{
   font-size: 30px;
}
.clients-section h1{
   font-size: 30px;
}
.testimonial h1{
    font-size: 30px;
}
.employers-section h1{
    font-size: 30px;
}
.career-section h1{
   font-size: 30px;
}
ul.btn-listing{
    margin: 10px 0px 23px 0;
}
.hospitality-list{
    font-size: 18px;
}
.powed-listing li{
    margin-bottom: 20px;
}
.footer-box-left{
    text-align: center;
}
.footer-right{
  text-align: center;
}
.container.bottom-part{
    text-align: center;
}
.text-right{
    text-align: center!important;
}
.dashboard-blog-grid{
    width: calc(100%/3);
}
.row{
    margin: 0;
}
}

@media screen and (max-width: 480px) {
.powed-listing li{
    width: 100%;
  }
.form-banner h1{
    font-size: 30px;
}
.form-banner h1 a:hover {
    font-size: 34px;
}
#submit:hover {
    width: 100%;
}
.nav.nav-tabs li{
    width: 100%;
}
.cvsbtn{
    font-size: 12px;
}
.clients li{
    width: 93%;
}
.dashboard-blog-grid{
    width: calc(100%/2);
}
.employee-bottom-text{
    display: none!important;
}
}

@media screen and (max-width: 360px) {
    .employer-form-section .row{
    padding: 0;
    margin: 0;
}
.candidate-registration-form .row{
    padding: 0;
    margin: 0;
}
h1.candidate-registration-section-heading{
    font-size: 36px;
}
h1.registration-heading{
 font-size: 36px;
}
.dashboard-blog-grid{
    width: calc(100%/1);
}
.employee-banner-part{
    margin: 200px 0 0 0;
}
.about-heading-color{
    padding-top: 20px;
    font-size:30px;
}
}


@media screen and (max-width: 320px) {
.btn-listing li{
margin: 0px 0px 0px 0;
}
.logo-box{
    text-align: center;
    height: auto;
}
.clients li{
    width: 93%;
}

ul.top-social{
    display: none;
}

.login-form-submit-bnt{
    width: 232px;
}


.employer-form-section .row{
    padding: 0;
    margin: 0;
}
.candidate-registration-form .row{
    padding: 0;
    margin: 0;
}

.dashboard-blog-grid{
    width: calc(100%/1);
}

}
