<div class="categories form">
<?php echo $this->Form->create('Jobtype',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Add'); ?></legend>
	<?php
		echo $this->Form->input('name',array('required'=>'required'));
               
		
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
