<div class="categories form">
<?php echo $this->Form->create('JobCategory',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('title',array('required'=>'required'));?>



	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
