<div class="community">
	<div class="community_holder">
		<h1><?php echo($content['Content']['page_heading']);?></h1>
		<h3 style="text-align:left;">
			<?php echo(nl2br($content['Content']['content']));?>
		</h3>		
		<div class="clear"></div>
	</div>
</div>