<div class="categories form">
<?php echo $this->Form->create('PressCategory',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Add Categories'); ?></legend>
	<?php
		echo $this->Form->input('category_name',array('required'=>'required'));
//		echo $this->Form->input('categories',array('empty' => '(choose one)','class'=>'selectbox2'));
//		echo $this->Form->input('category_description',array('id'=>'cat_desc'));
//		//echo $this->Form->input('country_id');
//		echo $this->Form->input('is_principal',array('label'=>false,'hidden'=>'hidden'));
		echo $this->Form->input('status');
		echo $this->Form->input('show_in_homepage',array('label'=>'Show home page')); 
               
                ?>
		<?php
		//echo $this->Form->input('category_of_the_day',array('label' => 'Top Categories','hidden'=>false));
		//echo $this->Form->input('image',array('type'=>'file','required'=>'required'));
                //echo $this->Form->input('imagelogo',array('type'=>'file','label'=>'BlogCategory Icon'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
