<div class="roles view">
    <h2><?php echo __('Role'); ?></h2>
    <dl>
        <dt><?php echo __('Id'); ?></dt>
        <dd>
            <?php echo h($role['Role']['id']); ?>
            &nbsp;
        </dd>
        <dt><?php echo __('Name'); ?></dt>
        <dd>
            <?php echo h($role['Role']['name']); ?>
            &nbsp;
        </dd>
    </dl>
</div>