<div class="roles form">
    <?php echo $this->Form->create('Role'); ?>
    <fieldset>
        <legend><?php echo __('Add Role'); ?></legend>
        <?php
        echo $this->Form->input('name');
        ?>
    </fieldset>
    <?php echo $this->Form->end(__('Submit')); ?>
</div>