<?php //echo '<pre>'; print_r($press_details); echo '</pre>'; ?>
<section class="py-5">

<div class="container">

<div class="row margin-top-30">
  <div class="col-md-2">
    <a href="<?php echo $this->webroot.'press_releases'; ?>" class="back-link"><i class="fa fa-chevron-left"></i> Back to Press</a>
  </div>
<div class="col-md-10">
<h2 class="coursetext text-center">
<?php if(isset($press_details['PressRelease']['name']) && $press_details['PressRelease']['name'] !=''){echo $press_details['PressRelease']['name'];} ?>
<!--U.S. Study Reveals Rising Stress at Work Driven by Politics, Artificial Intelligence and Pressure to Master New Skills-->
</h2>
<?php if(isset($press_details['PressRelease']['description']) && $press_details['PressRelease']['description'] !=''){echo $press_details['PressRelease']['description'];} ?>
<!-- <h4 class="he">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</h4>
<h4 class="he">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</h4>
<h4 class="he">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</h4>
<h4 class="he">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</h4> -->
</div>

</div>

</div>


</section>
