<section class="candidate-registration-section py-5" style="background :url('<?php echo $this->webroot ?>banner/<?php echo $pagebanner['Pagebanner']['image'] ?>') no-repeat center">
	  	<div class="container">
	  		<h1 class="candidate-registration-section-heading">Candidate Registration</h1>
	  		<p class="candidate-para px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>

	  	</div>
	  </section>

	  <section class="candidate-registration-form py-5">
	  	<div class="container">
	  		<div class="row">
	  			

	  			<div class="col-sm-12 col-md-7">
	  				<form class="row" action="candidateRegistration" method="post" id="UserSignupForm" enctype ="multipart/form-data">
	  				<div class="employer-box">
	  					<h3>User Account</h3>
	  					  
	  					  	<div class="row">
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Username<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="username" name="data[User][username]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Password<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="password"  id="password" name="data[User][user_pass]">
	  					  			</div>		
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Confirm Password<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				 <input id="confpass" type="password" class="form-control" name="conf_pass" required>
	  					  			</div>		
	  					  	</div>
	    				
	  				</div>
	  					<div class="clearfix"></div>
	  				<div class="employer-box">
	  					<h3>Account information</h3>
	  					  
	  					  	<div class="row">
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">First Name<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="firstName" name="data[User][first_name]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Last Name<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="lastName" name="data[User][last_name]">
	  					  			</div>	
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Email Address<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="email"  id="emailAddress" name="data[User][email_address]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Phone Number</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="phone" name="data[User][Phone_number]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Website</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="website" name="data[User][website_link]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">linkedin Link</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="linkedIn" name="data[User][linkedin_link]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Your Photo</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<div class="candidate-file-panel">
	  					  					<span>Drop files here</span>
	  					  					<div class="upload_file_container">
    											<label class="blue-btn">Select file!</label>
    										<input type="file" name="data[User][user_image]" />
    									<!-- <input type="file" name="photo" /> -->
											</div>
	  					  				</div>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Upload Video CV</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<div class="candidate-file-panel">
	  					  					<span>Drop files here</span>
	  					  					<div class="upload_file_container">
    											<label class="blue-btn">Select file!</label>
    										<input type="file" name="data[User][video]" />
											</div>
	  					  				</div>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Document</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<div class="candidate-file-panel">
	  					  					<span>Drop files here</span>
	  					  					<div class="upload_file_container">
    											<label class="blue-btn">Select file!</label>
    										<input type="file" name="data[User][document]" />
											</div>
	  					  				</div>
	  					  			</div>

	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Video Resume</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text" name="data[User][cv]">
	  					  			</div>
	  					  	</div>
	    				  
	  				</div>
	  				<div class="clearfix"></div>
	  				<div class="employer-box">
	  					<h3>Address</h3>
	  					  
	  					  	<div class="row">
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Address<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="address" name="data[User][address]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">City<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][city]">
	  					  			</div>	
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">State</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  id="state" name="data[User][state]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Country<span>*</span></label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				   <select id="country" class="" name="data[User][country]">
	  					  				   	<option value="">Select</option>
                                      <?php foreach ($countries as $country) { ?>
                                          <option value="<?php echo $country['Country']['name'] ?>"><?php echo $country['Country']['name'] ?></option>
                                      <?php } ?>
                                  </select>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Zip-code/Postal code</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][post_code]">
	  					  			</div>
	  		
	  					  	</div>
	  					</div>

	  					<div class="clearfix"></div>
	  					<div class="employer-box">
	  					<h3>Resume</h3>
	  					  
	  					  	<div class="row">
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Category</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][category]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Professional Headline</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][professionalHeadline]">
	  					  			</div>	
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">State</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<select id="state" name="data[User][state2]"></select>
	  					  				<!-- <input type="text"  name="data[User][state2]"> -->
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Key Skills</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				 <select class="" name="data[User][keySkills]">
	  					  				 	<option value="">Select</option>
                                      <?php foreach ($skills as $skill) { ?>
                                          <option value="<?php echo $skill['Skill']['skill_name'] ?>"><?php echo $skill['Skill']['skill_name'] ?></option>
                                      <?php } ?>
                                  </select>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Profile Summary</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<textarea class="candidate-textarea" name="data[User][profileSummary]"></textarea>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Job Sought</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][jobSought]">
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-4">
	  					  				<label for="email">Experience</label>
	  					  			</div>
	  					  			<div class="col-sm-12 col-md-8">
	  					  				<input type="text"  name="data[User][totalExperience]">
	  					  			</div>
	  					  			<!--add form-->
                           <div class="show-form">
                              <h3 class="pl-3">Experience   (Add Experience)</h3>
                              <div class="row">
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Started*</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text" id="datepicker5" name="data[Experience][startedDate]">
                                 </div>
                                 <div class="col-sm-12 col-md-4" id="autoUpdate2">
                                    <label for="email">Finished*</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8" id="autoUpdate3">
                                    <input type="text" id="datepicker3" name="data[Experience][finishedDate]">
                                 </div>
                                  <div class="col-sm-12 col-md-4" id="getCurrent1">
                                  	<label for="email"></label></div>
                                 <div class="col-sm-12 col-md-8">
                                 	<input type="checkbox" id="myCheck1" name="data[Experience][isChecked]" onclick="addbox1();" on>This is my current position
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Company Name</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text"  name="data[Experience][companyName]">
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Position Title *</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text"  name="data[Experience][positionTitle]">
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Description</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <textarea class="employer-textarea-hide" name="data[Experience][description]"></textarea>
                                 </div>
                              </div>
                           </div>
                           <!--end ad form-->
                           <div class="col-sm-12 col-md-4">
                              <label for="email">Experience</label>
                           </div>
                           <div class="col-sm-12 col-md-8">
                              <button type="button" id="hide" class="btn btn-default add-btn"> <i class="icon ion-android-add-circle"></i> Add Experience</button>
                           </div>
                           <!--add form-->
                           <div style="display: none;background: #eeeeee;
    padding: 20px 20px;" class="show-form1">
                              <h3 class="pl-3">Education   (Add Education)</h3>
                              <div class="row">
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Started*</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text" id="datepicker"  name="data[Education][startedDate]">
                                 </div>
                                
                                 <div class="col-sm-12 col-md-4" id="autoUpdate">
                                    <label for="email">Finished*</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8" id="autoUpdate1">
                                    <input type="text" id="datepicker1" name="data[Education][finishedDate]">
                                 </div>
                             

                                  <div class="col-sm-12 col-md-4" id="getCurrent">
                                  	<label for="email"></label></div>
                                 <div class="col-sm-12 col-md-8">
                                 	<input type="checkbox" id="myCheck" name="data[Education][isChecked]" onclick="addbox();" on>I am currently studying here
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Institution</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text"  name="data[Education][institution]">
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Degree *</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <input type="text"  name="data[Education][degree]">
                                 </div>
                                 <div class="col-sm-12 col-md-4">
                                    <label for="email">Description</label>
                                 </div>
                                 <div class="col-sm-12 col-md-8">
                                    <textarea class="employer-textarea-hide" name="data[Education][description]"></textarea>
                                 </div>
                              </div>
                           </div>
                           <!--end ad form-->
                           <div class="col-sm-12 col-md-4">
                              <label for="email">Education</label>
                           </div>
                           <div class="col-sm-12 col-md-8">
                              <button type="button" id="hide1" class="btn btn-default add-btn"> <i class="icon ion-android-add-circle"></i> Add Education</button>
                           </div>
	  					  	</div>
	  					</div>
	  					<input type="submit" class="candidate-register" placeholder="Register" name="">



	  					</form>
	  				</div>

	  			<div class="col-sm-12 col-md-5">
	  				<div class="youtube-box">
	  					<h2 class="youtube-heding mb-4">YouTube Account</h2>
	  					<p class="px-3">You will need a <strong>YouTube account</strong> to save your video <strong>Click record </strong>(red circle) to start. Click stop (square) to end. Options to share

						or delete with appear. Click the share icon (left) and add your title and description, select 'Unlisted' from the options so
						it's not searched on YouTube. <strong>Click Upload</strong> Once uploaded, click 'COPY LINK' Paste into 
						<strong>'Video Resume' box below</strong></p>
						<h2  class="youtube-heding mb-4 border-0 py-0">Record your video here</h2>
						<div class="recorder-box py-3">
							<h4 class="text-center text-white pt-5">Webcam Video Recorder</h4>
							<h5 style="color: #d6d6d6" class="text-center">Please grant access to your Camera</h5>
							<p style="color: #d6d6d6" class="px-3 text-gra text-center">
								Cam Recorder is a free online tool that allows you to record videos with your webcam. All you need is a web camera and an up-to-date web browser.After recording, you can directly upload your video to Youtube or save it to disk.
							</p>
							<!-- <a href="#"><div class="candidate-video-btn"></div></a> -->
						</div>
						<ziggeorecorder id="ziggeo-recorder-embedding" ziggeo-width=320 ziggeo-height=240 ziggeo-theme="modern" ziggeo-themecolor="red"> </ziggeorecorder>
	  				</div>
	  			</div>

	  				
	  				

	  				
	    		 
	  			</div>
	  		</div>
	  </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/custom-file-input.js"></script>

<!-- Bootstrap date picker validation starts-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>


<!-- 
Bootstrap date picker validation ends -->

<!-- Ziggeo script code starts -->
<link rel="stylesheet" href="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="https://assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
<script>ZiggeoApi.token = "8d81493ab2f5534e7f7e94cecb27faa1";</script>
<!-- Ziggeo script code ends -->


    <script>
    	$(window).scroll(function(){
		  var sticky = $('.sticky'),
		      scroll = $(window).scrollTop();

		  if (scroll >= 50) sticky.addClass('fixed');
		  else sticky.removeClass('fixed');
		});
    </script>
  <script>
            $(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                margin: 10,
                dots:true,
                nav: false,
                loop: true,
                responsive: {
                  0: {
                    items: 1
                  },
                  600: {
                    items: 1
                  },
                  1000: {
                    items: 1
                  }
                }
              })
            })
          </script>
<script>
	<script type="text/javascript">
   
    $(document).ready(function () {
    	$('#country').on('change', function() {
            var value = $(this).val();
            $.ajax({
                url: '<?php echo $this->webroot; ?>postjobs/getStates',
                type: 'POST',
                data: {val: value},
                success: function(response){
                    var res = JSON.parse(response);
                    var i,htm="";
                    for(i in res){
                        htm +='<option class="remove" value="'+res[i]['State']['id']+'">'+res[i]['State']['name']+'</option>'
                    }
                    $('.remove').remove();
                    $('#state').append(htm);
                }
            });
      $("#UserSignupForm").formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	'data[User][username]': {
                validators: {
                    notEmpty: {
                        message: 'Username is required and cannot be empty'
                    }
                }
            },
            'data[User][email_address]': {
                /* Initially, the validators of this field are disabled */

                validators: {
                    notEmpty: {
                        message: 'The email address is required and cannot be empty.'
                    },
                    regexp: {
                        regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                        message: 'The value is not a valid email address. '
                    }
                }

            },
          'data[User][user_pass]': {
            validators: {
              notEmpty: {
                message: 'The password is required and cannot be empty.'
                },
                identical: {
                    field: 'conf_pass',
                    message: 'The password and its confirm password are not the same'
                }
            }
        },
          'conf_pass': {
            validators: {
              notEmpty: {
                message: 'The password is required and cannot be empty.'
                },
                identical: {
                    field: 'data[User][user_pass]',
                    message: 'The password and its confirm password are not the same'
                }
            }
          },
          'data[User][first_name]': {
                validators: {
                    notEmpty: {
                        message: 'First Name is required and cannot be empty'
                    }
                }
            },
            'data[User][last_name]': {
                validators: {
                    notEmpty: {
                        message: 'Last Name is required and cannot be empty'
                    }
                }
            },
            'data[User][address]': {
                validators: {
                    notEmpty: {
                        message: 'Address is required and cannot be empty'
                    }
                }
            },
            'data[User][city]': {
                validators: {
                    notEmpty: {
                        message: 'City is required and cannot be empty'
                    }
                }
            },
            'data[Experience][startedDate]': {
                validators: {
                    notEmpty: {
                        message: 'Started Date is required and cannot be empty'
                    }
                }
            },
            'data[Experience][finishedDate]': {
                validators: {
                    notEmpty: {
                        message: 'Finished Date is required and cannot be empty'
                    }
                }
            },
            'data[Experience][positionTitle]': {
                validators: {
                    notEmpty: {
                        message: 'Position title is required and cannot be empty'
                    }
                }
            },
            'data[Education][startedDate]': {
                validators: {
                    notEmpty: {
                        message: 'Started Date is required and cannot be empty'
                    }
                }
            },
            'data[Education][finishedDate]': {
                validators: {
                    notEmpty: {
                        message: 'Finished Date is required and cannot be empty'
                    }
                }
            },
            'data[Education][degree]': {
                validators: {
                    notEmpty: {
                        message: 'Degree is required and cannot be empty'
                    }
                }
            },
            'data[User][country]':{
            	validators: {
                    notEmpty: {
                        message: 'Country is required and cannot be empty'
                    }
                }
            }
        }
      });
    });
</script>
<script>

	// set default dates
var start = new Date("2015-05-08");
// set end date to max one year period:
var end = new Date(new Date().setYear(start.getFullYear()+10));


	   $("#hide").click(function(){
         $(".show-form").slideToggle();
         });

	      $("#hide1").click(function(){
         $(".show-form1").slideToggle();
         });

  function addbox() {
    if (document.getElementById('myCheck').checked) {
    	var bootstrapValidator = $('#UserSignupForm').data('formValidation');
         bootstrapValidator.enableFieldValidators('data[Education][finishedDate]', false);
    	 document.getElementById('autoUpdate1').style.display = 'none';
         document.getElementById('autoUpdate').style.display = 'none';
    } else {
    	var bootstrapValidator = $('#UserSignupForm').data('formValidation');
         bootstrapValidator.enableFieldValidators('data[Education][finishedDate]', true);
    	document.getElementById('autoUpdate').style.display = 'block';
    	document.getElementById('autoUpdate1').style.display = 'block';
       
    }
}

  function addbox1() {
    if (document.getElementById('myCheck1').checked) {
    	var bootstrapValidator = $('#UserSignupForm').data('formValidation');
         bootstrapValidator.enableFieldValidators('data[Experience][finishedDate]', false);
    	 document.getElementById('autoUpdate2').style.display = 'none';
         document.getElementById('autoUpdate3').style.display = 'none';
    } else {
    	var bootstrapValidator = $('#UserSignupForm').data('formValidation');
         bootstrapValidator.enableFieldValidators('data[Experience][finishedDate]', true);
    	document.getElementById('autoUpdate2').style.display = 'block';
    	document.getElementById('autoUpdate3').style.display = 'block';
       
    }
}

 $('#datepicker1')
        .datepicker({
            format: 'yyyy-mm-dd',
             autoclose: true,
             startDate : start,
    		 endDate   : end
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#UserSignupForm').formValidation('revalidateField', 'data[Education][finishedDate]');
             $('#datepicker').datepicker('setEndDate', new Date($(this).val()));
        });
 $('#datepicker5')
        .datepicker({
            format: 'yyyy-mm-dd',
             autoclose: true,
             startDate : start,
    		 endDate   : end
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#UserSignupForm').formValidation('revalidateField', 'data[Experience][startedDate]');
            $('#datepicker3').datepicker('setStartDate', new Date($(this).val()));
        });
 $('#datepicker3')
        .datepicker({
            format: 'yyyy-mm-dd',
             autoclose: true,
             startDate : start,
    		 endDate   : end
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#UserSignupForm').formValidation('revalidateField', 'data[Experience][finishedDate]');
             $('#datepicker5').datepicker('setEndDate', new Date($(this).val()));

        });
  $('#datepicker')
        .datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            startDate : start,
    		endDate   : end
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#UserSignupForm').formValidation('revalidateField', 'data[Education][startedDate]');
              $('#datepicker1').datepicker('setStartDate', new Date($(this).val()));
        });
</script>
<!-- <div id="replace_me-v2_recorder"></div> --> 
<!-- <script>
    ZiggeoApi.Events.on("system_ready", function() {
        var recorder = new ZiggeoApi.V2.Recorder({
            element: document.getElementById("replace_me-v2_recorder"),
            attrs: {
                width: 320,
                height: 240,
                theme: "modern",
                themecolor: "red"
            }
        });

        recorder.activate();
        recorder.on("processed", function() {
  		//var id= recorder.get('video');
  		alert('hi');
		});
    });
</script> -->
<!-- <script>
ZiggeoApi.Events.on("system_ready", function () {
	 var recorder = new ZiggeoApi.V2.Recorder({
            element: document.getElementById("ziggeo-recorder-embedding"),
            attrs: {
                width: 320,
                height: 240,
                theme: "modern",
                themecolor: "red"
            }
        });
	recorder.activate();

	// recorder.on("uploaded", function() {
 //  		var ageId = recorder.get('video');
 //  		alert(ageId);
	// 	});

	 // var ageId = recorder.get('video');
		
	 // console.log(ageId);

 //    var element = document.getElementById('ziggeo-recorder-embedding');
 //    var embedding = ZiggeoApi.V2.Recorder.findByElement(element);

    var ageId2 = embedding.get('video');
    alert(ageId2);

});
</script> -->

 <!-- <script type="text/javascript">
 	
 	var embedding = ZiggeoApi.V2.Recorder.findByElement( document.getElementById('ziggeo-recorder-embedding') );

 	var ageIs= embedding.get('video');
 	alert(ageIs);
 </script> -->