<div class="listings form">
<?php echo $this->Form->create('Skill', array('enctype' => 'multipart/form-data')); ?>
    <fieldset>
        <legend>Add Skill</legend>
       
	<?php
        echo $this->Form->input('id');
        echo $this->Form->input('skill_name');
       
        ?>
    </fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

