 .coursename{ min-height: 386px; }
    .bestseller-badge__type {
        background: #ffd000;
        color: #333333;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        margin: 0 10px;
        padding: 3px 7px;
        position: relative;
    }

    .bestseller-badge__type:before {
        border-bottom: 21px solid #ffd000;
        border-left: 10px solid transparent;
        left: -10px;
    }
    .modal{
        top:160px;
    }
    .instructor-bio-left img {
    width: 90px;
    height: 85px;
    }
/*------ Video Style ------*/

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  z-index: 100000;
  position: relative;
}

#wrapper.toggled {
    padding-left: 480px;
  position: absolute;
  height: 100%;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 480px;
    width: 0;
    height: 100%;
    margin-left: -480px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  background-color:#fff;
  color:#000;
  position: absolute;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 480px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -320px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  height: 100%;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
  color:#fff !important;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
  top: 0px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 9px;
}
.hamburger.is-closed .hamb-bottom {
  top: 19px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}
.instructions{ position: relative; z-index: 0; top:-70px;}

/*****************************************/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.class_cards{width:94%;margin:10px auto; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);font-family: 'Lato', sans-serif;}
.class_cards .header_cards{padding: 20px;cursor: pointer;}
.class_cards .header_cards p{font-size:13px;color:#5a5858;}
.class_cards .header_cards span{float:right}
.class_cards .header_cards h4{ color: #5a5858;font-size: 18px;font-weight: 700;}

.card_content{display: none;}
.card_content ul{list-style: none;padding:0;}
.card_content li{width:100%;border-top:1px solid #ebebeb;padding: 15px 20px;position: relative;}
.card_content p{ color: #5a5858;
    font-size: 13px;
    margin: 0;
    padding: 0 30px 0 0;
    position: relative;}

.card_content li b{border: 1px solid #ddd;border-radius: 100%;height: 25px;position: absolute;right: 15px;top: 11px;width: 25px;}
.card_content li b input[type="checkbox"]{position: absolute;width:25px;height:25px;display: block;left:0;top:0;z-index: 9;margin: 0;opacity:0}
.card_content li b input[type="checkbox"]:checked + span{background: #08d6e8 none repeat scroll 0 0;
    border-radius: 100%;
    display: block;
    height: 21px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 21px;
    z-index: 6;}

    /* Style the download icon */
    #downloadButton {
        height: 28px;
        margin-top: 5px;
    width:100px;
    background:#9F0;
    left:0;
    border-radius:5px;
    cursor: pointer;
    font-size:12px;
    color:#fff;
    line-height: 28px;
    text-align: center;
    }
  #downloadButton:before {
      content: "Continue";
      color:#fff;
    line-height: 22px;
    text-align: center;
    text-shadow: none !important;
  }
  .vjs-time-controls{ display: none;}
  .vjs-live-controls{ display: none;}