    <div class="categories form"> 
        <fieldset>
            <legend> Add Course Resourse </legend>   
            <ul class="row" style="list-style-type:none">
                <li class="col-md-3">
                    <label for="PostIsApprove">Course Videos</label>
                    <div class="input file"><input type="file" name="data[Post][video][]" class="courseVideo"></div><div class="input file"><input type="file" name="data[Post][video][]" class="courseVideo"></div>                <div id="newHtml"></div>
                    <a href="javascript:void(0)" id="addMore" class="btn btn-info btn-sm pull-left"><i class="fa fa-plus"></i> Add More Video</a>
                </li>
                
                <!-- <li class="col-md-3">
                    <label for="PostIsApprove">Course Documents</label>
                    <div class="input file"><input type="file" name="data[Post][doc][]" class="courseDoc"></div><div class="input file"><input type="file" name="data[Post][doc][]" class="courseDoc"></div>                <div id="newHtmlDoc"></div>
                    <a href="javascript:void(0)" id="addMoreDoc" class="btn btn-info btn-sm pull-left"><i class="fa fa-plus"></i> Add More Video</a>
                </li>
                <li class="col-md-3">
                    <label for="PostIsApprove">Course Assignments</label>
                    <div class="input file"><input type="file" name="data[Post][assignment][]" class="courseAssignment"></div><div class="input file"><input type="file" name="data[Post][assignment][]" class="courseAssignment"></div>                <div id="newHtmlAssig"></div>
                    <a href="javascript:void(0)" id="addMoreAssig" class="btn btn-info btn-sm pull-left"><i class="fa fa-plus"></i> Add More Video</a>
                </li>
                <li class="col-md-3">
                    <label for="PostIsApprove">Course Projects</label>
                    <div class="input file"><input type="file" name="data[Post][project][]" class="courseProject"></div><div class="input file"><input type="file" name="data[Post][project][]" class="courseProject"></div>                <div id="newHtmlProject"></div>
                    <a href="javascript:void(0)" id="addMoreProject" class="btn btn-info btn-sm pull-left"><i class="fa fa-plus"></i> Add More Video</a>
                </li> -->
            </ul>
        </fieldset>    
    </div> 
    
<script type="text/javascript">


$(document).ready(function(){
    
    $(document).on('click',"#addMore",function(){ console.log('Hiii..');
        
          $("#newHtml").append('<div class="input file"><input type="file" name="data[Post][video][]" class="courseVideo"></div>');  
        
    });
    
    // $(document).on('click',"#addMoreDoc",function(){
        
    //       $("#newHtmlDoc").append('<div class="input file"><input type="file" name="data[Post][doc][]" class="courseDoc"></div>');  
        
    // });
    
    // $(document).on('click',"#addMoreAssig",function(){
        
    //       $("#newHtmlAssig").append('<div class="input file"><input type="file" name="data[Post][assignment][]" class="courseAssignment"></div>');  
        
    // });
    
    // $(document).on('click',"#addMoreProject",function(){
        
    //       $("#newHtmlProject").append('<div class="input file"><input type="file" name="data[Post][project][]" class="courseProject"></div>');  
        
    // }); 
});


</script>       