ul {
		list-style: outside none none;
		margin: 0;
		padding: 0;
	}
	.cfi-forms-list {
		margin-top: 15px;
		border: 0 none;
		padding: 0;
		position: relative;
		width: 100%;
	}
	.fx {
		-moz-box-flex: 1;
		flex: 1 1 0;
		min-width: 1px;
	}
	.df, .fx-flex {
		display: flex;
	}
	.cfi-sortables-list .add-forms-container .cfi-add, .cfi-forms-list .add-forms-container .cfi-add {
		flex: 1 0 33%;
		min-width: initial;
		padding: 5px;
	}
	
	.cfi-sortables-list .cfi-warning .content, .cfi-forms-list .cfi-warning .content, .cfi-sortables-list .cfi-add .content, .cfi-forms-list .cfi-add .content {
		cursor: pointer;
		display: block;
		font-size: 15px;
		font-weight: normal;
	}
	.cfi-sortables-list .cfi-warning > a, .cfi-forms-list .cfi-warning > a, .cfi-sortables-list .cfi-add > a, .cfi-forms-list .cfi-add > a {
		-moz-user-select: none;
		background-color: #ffffff;
		background-image: none;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		color: #0e600e;
		cursor: pointer;
		display: inline-block;
		font-size: 15px; 
		font-weight: normal;
		line-height: 1.35135;
		margin-bottom: 0;
		padding: 11px 12px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
	}
	.cfi-sortables-list .add-forms-container .cfi-add, .cfi-forms-list .add-forms-container .cfi-add {
		flex: 1 0 33%;
		min-width: initial;
		padding: 5px;
	}
	.cfi-sortables-list .cfi-chapter.cfi-add, .cfi-forms-list .cfi-chapter.cfi-add, .cfi-sortables-list .cfi-chapter.cfi-add-form, .cfi-forms-list .cfi-chapter.cfi-add-form {
		margin: 0;
	}
	.cfi-sortables-list .add-forms-container, .cfi-forms-list .add-forms-container {
		margin: 0 -5px 20px;
	}
	.cfi-sortables-list .cfi-warning > a:hover, .cfi-forms-list .cfi-warning > a:hover, .cfi-sortables-list .cfi-add > a:hover, .cfi-forms-list .cfi-add > a:hover {
		background-color: #f7f7f7;
		border-color: rgba(0, 0, 0, 0.2);
	}
	.cfi-chapter-container {
		background-color: #f4f4f4;
		border: 1px solid rgba(0, 0, 0, 0.55);
		margin: 60px 0 20px;
	}
	.cfi-sortables-list .cfi-chapter.cfi-sortable, .cfi-forms-list .cfi-chapter.cfi-sortable {
		margin: 10px;
	}
	.cfi-sortables-list .cfi-sortable .cfi-content, .cfi-forms-list .cfi-sortable .cfi-content {
		/*cursor: move;*/
		height: 54px;
	}
	.cfi-sortables-list .editing, .cfi-forms-list .editing, .cfi-sortables-list .cfi-content, .cfi-forms-list .cfi-content {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.cfi-sortables-list .add-forms-container .cfi-add-form, .cfi-forms-list .add-forms-container .cfi-add-form {
		margin: 0 5px;
	}
	.cfi-sortables-list .cfi-sortable.cfi-lecture, .cfi-forms-list .cfi-sortable.cfi-lecture, .cfi-sortables-list .cfi-add-form.cfi-lecture, .cfi-forms-list .cfi-add-form.cfi-lecture, .cfi-sortables-list .cfi-sortable.cfi-quiz, .cfi-forms-list .cfi-sortable.cfi-quiz, .cfi-sortables-list .cfi-add-form.cfi-quiz, .cfi-forms-list .cfi-add-form.cfi-quiz {
		position: relative;
	}
	.cfi-sortables-list .closed.editing, .cfi-forms-list .closed.editing, .cfi-sortables-list .closed.cfi-content, .cfi-forms-list .closed.cfi-content {
		display: none;
	}
	.cfi-sortables-list .add-forms-container .cfi-add-form.opened, .cfi-forms-list .add-forms-container .cfi-add-form.opened {
		position: relative;
		width: 100%;
	}
	.cfi-sortables-list .add-forms-container .cfi-add-form, .cfi-forms-list .add-forms-container .cfi-add-form {
		margin: 0 5px;
	}
	.content.ui-state-default {
		display: block;
	}
	.action-buttons .fa.fa-pencil, .action-buttons .fa.fa-trash {
	    display: none;
	}
	.content.ui-state-default:hover .fa.fa-pencil, .content.ui-state-default .action-buttons:hover .fa.fa-pencil {
		display: inline-block;
		cursor: pointer;
	}
	.content.ui-state-default:hover .fa.fa-trash, .content.ui-state-default .action-buttons:hover .fa.fa-trash {
		display: inline-block;
		cursor: pointer;
	}
	.edit-handle.fa.fa-pencil, .delete-handle.fa.fa-trash {
	    display: none;
	}
	.content.ui-state-default:hover .edit-handle.fa.fa-pencil, .content.ui-state-default:hover .delete-handle.fa.fa-trash {
		display: inline-block;
		cursor: pointer;
	}
	.action-buttons .fa.fa-bars:hover {
		cursor: move;
	}
	.cfi-sortables-list .gray-container .header, .cfi-forms-list .gray-container .header {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background: #ffffff none repeat scroll 0 0;
	    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) -moz-use-text-color;
	    border-image: none;
	    border-style: solid solid none;
	    border-width: 1px 1px medium;
	    color: #353535;
	    float: right;
	    font-weight: bold;
	    margin: -34px 30px 0 0;
	    padding: 7px 35px 6px 10px;
	    position: relative;
	}
	.cfi-sortables-list .gray-container .main, .cfi-forms-list .gray-container .main {
		border-top: 1px solid rgba(0, 0, 0, 0.25);
		color: #555;
		font-size: 13px;
		margin: -3px 10px 10px;
	}
	.cfi-sortables-list .question-list-wrapper .question-list, .cfi-forms-list .question-list-wrapper .question-list {
	    border-top: 1px dotted #ccc;
	    counter-reset: numList;
	    margin-top: 15px;
	    padding-top: 10px;
	}

	.cfi-sortables-list .question-list-wrapper .question-list li::before, .cfi-forms-list .question-list-wrapper .question-list li::before {
	    content: counter(numList, decimal) ".";
	    counter-increment: numList;
	    float: left;
	    font-weight: bold;
	    margin-right: 3px;
	}
	.cfi-sortables-list .question-list-wrapper .question-list li, .cfi-forms-list .question-list-wrapper .question-list li {
	    font-size: 13px;
	    overflow: hidden;
	    padding: 5px 0;
	    position: relative;
	    transition: background-color 1s ease 0s;
	}
	.cfi-sortables-list .question-list-wrapper .question-list .prompt, .cfi-forms-list .question-list-wrapper .question-list .prompt {
	    color: #555;
	    float: left;
	    font-size: 13px;
	    max-width: 440px;
	}
	.ellipsis {
	    display: block;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.cfi-sortables-list .question-list-wrapper .question-list span, .cfi-forms-list .question-list-wrapper .question-list span {
	    color: #999999;
	    float: left;
	    margin-left: 5px;
	    max-width: 110px;
	}
	.question-list li:hover .edit-handle, .question-list li:hover .delete-handle {
		display: inline-block;
		cursor: pointer;
	}
	
	
/*	Kallol css 18.1.2017*/

.cfi-content.ng-scope {padding: 0px;height: 27px!important; margin:5px 10px; background: #fff;}
span.action-buttons.pull-right {margin-top: -2px;}

a.add-content.btn.btn-primary.btn-sm.container-switch.floating.m0-10.m5-30-xs.m5-30-md {background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);color: #fff;border-color: #269abc;}
a.add-content.btn.btn-primary.btn-sm.container-switch.floating.m0-10.m5-30-xs.m5-30-md:hover {background-color: #2aabd2;background-position: 0 -15px;border-color: #269abc;}

.gray-container.ng-scope {margin: 10px;padding-top: 16px;border-top: 1px solid #807f7f;}


.cfi-chapter.cfi-sortable.published > .cfi-content {height: 25px!important}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab{width: 25%;float: left; padding: 10px; border:1px solid #ccc;z-index: 9999;display: block;border-top:none; margin-bottom:15px; }
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active{border-bottom:none;}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a {font-weight: bold;color: #000;text-decoration:none;}
.cfi-sortables-list .gray-container .header, .cfi-forms-list .gray-container .header {background: #ece9e9;}
.cfi-lecture.cfi-edit-form.editing.ng-scope.opened {margin: 15px; background: #fff; border:1px solid #000;padding:15px; }


.cfi-lecture.cfi-add-form.editing.opened{margin-top: 15px;border: 0 none;padding: 10px; border:1px solid #000; background: #f4f4f4;}

.cfi-quiz.cfi-add-form.editing.opened {border: 1px solid #000; background:#f4f4f4;}

#library-tabs > table.table.table-striped > tbody > tr {cursor: pointer;}

.cfi-sortables-list .gray-container .header {margin: -59px 30px 0 0!important;background: #fff; color: #565656!important;    padding: 10px 14px 12px 14px!important;}

ul.cfi-chapter-container.ui-sortable > li.cfi-sortable.published.ng-scope {background: #fff; margin: 15px;padding: 10px;border: 1px solid #000;}

.profile_second_part .form_part{margin-bottom:5px;}

li.cfi-chapter.cfi-add-form.editing.opened {background: #f4f4f4;border: 1px solid #000;}
.form-group .fa.fa-trash { cursor: pointer; }
.cfi-content .fa.fa-chevron-up, .cfi-content .fa.fa-chevron-down {cursor: pointer;}