<div class="span9" id="content">
	<div class="row-fluid">
		<!-- block -->
		<div class="block">
			<div class="navbar navbar-inner block-header">
				<div class="muted pull-left"><?php echo __('Email Templates'); ?></div>
				<div style="float:right;"></div>
			</div>
			<div class="block-content collapse in">
				<div class="span12">
					<table class="table table-hover">
					<thead>
					<tr>
						<th><?php echo $this->Paginator->sort('id'); ?></th>
						<th><?php echo $this->Paginator->sort('subject'); ?></th>
						<th><?php echo $this->Paginator->sort('content'); ?></th>
						<th class="actions"><?php echo __('Actions'); ?></th>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($emailtemplate as $content): ?>
					<tr>
						<td><?php echo h($content['EmailTemplate']['id']); ?>&nbsp;</td>
						<td><?php echo h($content['EmailTemplate']['subject']);?></td>
						<td><?php echo ($content['EmailTemplate']['content']);?></td>
						<td class="actions">
						    <a href="<?php echo $this->webroot;?>admin/email_templates/edit/<?php echo $content['EmailTemplate']['id'];?>"><img src="<?php echo $this->webroot;?>img/edit.png" title="Edit Template" width="22" height="21"></a>
						</td>
					</tr>
				   <?php endforeach; ?>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /block -->
		<p>
		<?php
		echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
		));
		?>	</p>
		<div class="paging">
		<?php
			echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
			echo $this->Paginator->numbers(array('separator' => ''));
			echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
		?>
		</div>
	</div>
</div>
<style>
.actions a
{
 background:none;
 border:none;
 border-radius:0px;
 box-shadow:none;
 padding:0px;
}
</style>