    <?php

        //define('STRIPE_PRIVATE_KEY', 'sk_test_ySVhuMSBmrIakQ4bZLHMSBdU');
        //define('STRIPE_PUBLIC_KEY', 'pk_test_AHIUBmghbdJDHfMAg5NBWerN');
    ?>
<!--    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
    <?php //echo '<script type="text/javascript">Stripe.setPublishableKey("' . STRIPE_PUBLIC_KEY . '");</script>'; ?>
    <section class="cart-body" style="margin-top: 91px;" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Subscription Details</h3>
                    <div class="table-responsive">
                        <table class="table table-striped cart-table">
                            <thead>
                                <tr>
                                    <!-- <th class="action">Action</th> -->
                                    <th>Plan</th>
                                    <th>Plan Description</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td class="text-center">
                                        <a href="" class="cancel"><i class="fa fa-close"></i></a>
                                        <a href="" class="edit"><i class="fa fa-edit"></i></a>
                                    </td> -->
                                    <td>
                                        <div class="itemimg">
                                            <p  ><?php echo $planDetails['MembershipPlan']['title'];?></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="itemdes">
                                            <h4><?php echo $planDetails['MembershipPlan']['header'];?></h4>
                                            <p> <?php //echo $planDetails['MembershipPlan']['no_of_marketplace'];?>
                                                <ul>
                                                    <?php foreach ($planDetails['MembershipItem'] as $key => $item) { ?>
                                                    <li><?php echo $item['name']; ?></li>
                                                    <?php } ?>
                                                </ul>
                                            </p>
                                        </div>
                                    </td>
                                    <td><p >Rp <?php echo $planDetails['MembershipPlan']['price'];?>/<?php echo $planDetails['MembershipPlan']['duration'].' '.$planDetails['MembershipPlan']['duration_in'];?></p></td>
                                    <td><p>1</p></td>
                                    <td><p >Rp <?php echo $planDetails['MembershipPlan']['price'];?></p></td>
                                </tr>
                                <!-- <tr>
                                    <td class="text-center">
                                        <a href="" class="cancel"><i class="fa fa-close"></i></a>
                                        <a href="" class="edit"><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <div class="itemimg">
                                            <img src="images/p-4.jpg" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="itemdes">
                                            <h4>Aliquam quaerat voluptatem</h4>
                                            <p>Labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam </p>
                                        </div>
                                    </td>
                                    <td><p class="text-center">$100</p></td>
                                    <td><p class="text-center">2</p></td>
                                    <td><p class="text-center">$200</p></td>
                                </tr> -->
                                <tr>
                                    <td colspan="3"></td>
                                    <!-- <td>
                                        <p>Order Subtotal </p>
                                        <p>Delivery Fee</p>
                                        <p><b>Total</b></p>
                                        <button type="button" class="btn btn-success">Keep Shopping</button>
                                    </td> -->
                                    <td>
                                        <!-- <p>$12856.00</p>
                                        <p>$1300</p>
                                        <p><b>$13821.00</b></p> -->
                                        <!-- <button type="button" class="btn btn-primary">Proceed to Checkout</button> -->
<!--                                        <img class="img-responsive checkoutPaypal" style="cursor: pointer;" alt="" src="<?php echo $this->webroot;?>images/paypal.png">-->

                                    </td>
                                    <td>
<!--                                        <form action="<?php echo $this->webroot; ?>checkouts/paymentTest" method="POST">
                                          <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_AHIUBmghbdJDHfMAg5NBWerN"
                                            data-amount="<?php echo $planDetails['MembershipPlan']['price']*100;?>"
                                            data-currency="IDR"
                                            data-name="studilmu.com"
                                            data-description="Membership Plan"
                                            data-image="http://111.93.169.90/team4/studilmu/site_logo/1753773600_imgpsh_fullsize.png"
                                            data-locale="auto">
                                          </script>
                                        </form>-->

                                        <form action="<?php echo $this->webroot; ?>checkouts/paymentTestNew" method="POST">
                                        <input type="hidden" name="amount" value="<?php echo $planDetails['MembershipPlan']['price'];?>"/>
                                        <input type="submit" value="Card Payment" class="btn btn-success">
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" >Bank Account</button>

                                      </form>
                                      <div>
                                      </div>
                                    </td>
                                </tr>
                            </tbody>
                         </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" id="paymentform" name="paymentform">
            <input type="hidden" name="cmd" value="_xclick-subscriptions">
            <input type="hidden" name="rm" value="2">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="business" value="nits.arpita@gmail.com">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="notify_url" value="<?php echo Router::url(array('controller' => 'checkouts', 'action' => 'notify_url'), TRUE); ?>">
            <input type="hidden" name="return" value="<?php echo Router::url(array('controller' => 'checkouts', 'action' => 'thankyou'), TRUE); ?>" />
            <input type="hidden" name="cancel_return" value="<?php echo Router::url(array('controller' => 'checkouts', 'action' => 'index', 'payment_cancelled'), TRUE); ?>" />
            <input type="hidden" name="item_name" value="">
            <input type="hidden" name="amount" value="<?php echo $planDetails['MembershipPlan']['price'];?>">
            <input type="hidden" name="custom" value="<?php echo $userid . '|' . $planDetails['MembershipPlan']['id']; ?>">
            <input type="hidden" name="a3" value="<?php echo $planDetails['MembershipPlan']['price'];?>">
            <input type="hidden" name="p3" value="1">
            <input type="hidden" name="t3" value="M">
            <input type="hidden" name="src" value="1">
            <input type="hidden" name="sra" value="1">
</form>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Bank Payment Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <?php echo $this->Form->create('Order', array('enctype' => 'multipart/form-data')); ?>

          <div class="form-group">
            <label for="exampleSelect1">Select Bank</label>
            <select class="form-control" name="data[Order][bank_id]">
              <?php foreach($bank_ids as $bank) { ?>
                <option value="<?php echo $bank['Bank']['id']; ?>"><?php echo $bank['Bank']['bank_name']; ?></option>
              <?php } ?>
            </select>
          </div>
         

           <div class="form-group">
            <label>Upload Payment Receipt</label>
            <input type="file" class="form-control-file form-control" name="data[Order][document]" required="required">
          </div>

          <div class="text-center">
              <button type="submit" class="btn btn-primary" onclick="$('#myModal').modal('show');">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<script>
    $(function() {


        $('.checkoutPaypal').click(function(){
            $('#paymentform').submit();
        });


    })




</script>
