<?php
//echo json_encode(array('user_id' => 93, 'post_id' => 12345));
?>
<section class="inner_content">
    <div class="container">

        <div class="cart-area">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="thank-you-area text-center">
                    	<img src="<?php echo $this->webroot;?>images/tick.png"/>
                    
                        
                            
                                <h1>Thank you for your purchase.</h1>
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>