
<style>
.inner-header{background:#0C2440;}
</style>
<div class="container">	
	<div class="row" >
		<div class="col-md-12" style="height:100%; padding: 168px;">
			<h2 class="text-center">Congratulation!! <?php echo $userDetails['User']['first_name'].' '.$userDetails['User']['last_name'];?> </h2>
			<h4 class="text-center">You Have Successfully Registered in Our Site</h4>
<!--				<p class="text-center">After admin approval you will get a notification mail</p>-->
		</div>
	</div>
</div>		