<div class="users form">
<?php echo $this->Form->create('Industry',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit Industry'); ?></legend>
	<?php
		
		echo $this->Form->input('id');
		echo $this->Form->input('name');
		
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<?php //echo $this->element('admin_sidebar'); ?>
