<?php?>
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--statistics start-->
            <div class="row state-overview">
                <div class="col-md-1 col-xs-6 col-sm-1">&nbsp;</div>
                
                
            </div>
            <!--statistics end-->
        </div>
    </div>
</div>
<div class="users index">
	<h2 style="width:400px;float:left;"><?php echo __('Industrys'); ?></h2>
<!--	<a href="<?php echo $this->webroot.'admin/users/export'; ?>" style="float:right">Export Industrys</a>-->
        <div>
       <?php //echo $this->Form->create("Industry");?>
          
        <?php //echo $this->Form->end();?>
        </div>
        
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th>SN<?php //echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('Industry name'); ?></th>
		
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
        $IndustryCnt=0;
        
        foreach ($industries as $industry): 
            $IndustryCnt++;?>
	<tr>
		<td><?php echo $IndustryCnt;//echo h($industries['Industry']['id']); ?>&nbsp;</td>
		<td><?php echo h($industry['Industry']['name']); ?>&nbsp;</td>
		
		<td class="actions">
			<?php //echo $this->Html->link(__('View'), array('action' => 'view', $industry['Industry']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $industry['Industry']['id'])); ?>
			
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $industry['Industry']['id']), null, __('Are you sure you want to delete %s?', $industry['Industry']['name'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	
</div>
<?php //echo $this->element('admin_sidebar'); ?>

<style>
.title a{
    color: #fff !important;
}
</style> 