<?php?>
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--statistics start-->
            <div class="row state-overview">
                <div class="col-md-1 col-xs-6 col-sm-1">&nbsp;</div>
                
                
            </div>
            <!--statistics end-->
        </div>
    </div>
</div>
<div class="users index">
	<h2 style="width:400px;float:left;"><?php echo __('Banks'); ?></h2>
<!--	<a href="<?php echo $this->webroot.'admin/users/export'; ?>" style="float:right">Export Banks</a>-->
        <div>
       <?php //echo $this->Form->create("Bank");?>
          
        <?php //echo $this->Form->end();?>
        </div>
        
	<table cellpadding="0" cellspacing="0">
	<tr>
		<th>SN<?php //echo $this->Paginator->sort('id'); ?></th>
		<th><?php echo $this->Paginator->sort('Bank name'); ?></th>
		
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
        $BankCnt=0;
        
        foreach ($banks as $bank): 
            $BankCnt++;?>
	<tr>
		<td><?php echo $BankCnt;//echo h($banks['Bank']['id']); ?>&nbsp;</td>
		<td><?php echo h($bank['Bank']['bank_name']); ?>&nbsp;</td>
		
		<td class="actions">
			<?php //echo $this->Html->link(__('View'), array('action' => 'view', $bank['Bank']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $bank['Bank']['id'])); ?>
			
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $bank['Bank']['id']), null, __('Are you sure you want to delete %s?', $bank['Bank']['bank_name'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	
</div>
<?php //echo $this->element('admin_sidebar'); ?>

<style>
.title a{
    color: #fff !important;
}
</style> 