<div class="categories form">
<?php echo $this->Form->create('Salaryper',array('enctype'=>'multipart/form-data')); ?>
	<fieldset>
		<legend><?php echo __('Edit'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('name',array('required'=>'required'));
		
               
                ?>
                
               

	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
