<?php $vv = $postDetails['Post'];
//pr($announcements);
?>

<style>
.header{
    position: relative !important;
}

.inner_header {
    background: #0c2440 none repeat scroll 0 0;
}

.top--container{height: auto !important;}
.progress{height: 9px; border-radius:10px;}
.filled-stars{*margin-top:5px !important;}
.ratingPart .rating-xs{font-size:25px !important;}
.panel{border-radius:0 !important; background: #fff; }
</style>
<link href="<?php echo $this->webroot; ?>css/course_dashsboard.css" rel="stylesheet" type="text/css">
<div class="ud-angular-loaded" data-module-id="course-taking-v4" data-module-name="ng/apps/course-taking-v4/app">
   <!-- uiView:  -->
   <div >
      <!-- uiView: undefined -->
      <ui-view class="" style="">
         <div>
            <?php echo $this->element('course_topmenu'); ?>
            <div class="course-dashboard__bottom" style="background: #f7f7f7;">
              <?php echo $this->element('course_midmenu'); ?>



<div class="bottom__content container" data-ui-view="">
	<div style="margin: auto; padding-bottom:40px; width: 85%;   " class="content__overview mt-5">
            <?php //print_r($course_discussions); ?>
      <h4 class="mt-3 font-20 mb-3" ><span>Assignment  Details</span></h4>
      <!-- ngRepeat: instructor in course.visible_instructors -->
      <div class="discussion_content">
          <?php if($assignment['UserAssignment']['status']==2){ ?>
       
					
     <?php
     //print_r($assignment);
                                    $sl_no = 1;
                                    $optionsDecode=json_decode($assignment['UserAssignment']['answer']);
                                    //print_r($optionsDecode);die;
                                    foreach ($optionsDecode as $key => $value) {  

                                  ?>
                                    <p>
                                        <?php echo $sl_no.". ".$value->question." -".$value->marks; ?>
                                    </p> 
                                    <div class="form-group question_gr">
                                        <input type="hidden" class="form-control" name="ids[]" value="<?php echo $value->id; ?>">   
                                        
                                        <input type="hidden" class="form-control" name="questions[]" value="<?php echo $value->question; ?>">
                                       
                                        <input type="hidden" class="form-control" name="markss[]" value="<?php echo $value->marks; ?>">
                                        
                                        <textarea name="answers[]" ><?php echo $value->answer; ?></textarea>
                                        
                                        <input type="text" class="form-control" name="scores[]" value="<?php echo $value->score; ?>" disabled="disabled">
                                        </div>
  					
                                  <?php 
                                        $sl_no = $sl_no+1; 
                                        } 
                                  ?>                
  				
          
          <?php } else{ ?>
          <form action="" method="post" enctype="multipart/form-data" >
                   <input type="hidden" class="form-control" name="id" value="<?php echo $assignment['UserAssignment']['id']; ?>">   
					
     <?php
     //print_r($assignment);
                                    $sl_no = 1;
                                    $optionsDecode=json_decode($assignment['UserAssignment']['answer']);
                                    //print_r($optionsDecode);die;
                                    foreach ($optionsDecode as $key => $value) {  

                                  ?>
                                    <p>
                                        <?php echo $sl_no.". ".$value->question." -".$value->marks; ?>
                                    </p> 
                                    <div class="form-group question_gr">
                                        <input type="hidden" class="form-control" name="ids[]" value="<?php echo $value->id; ?>">   
                                        
                                        <input type="hidden" class="form-control" name="questions[]" value="<?php echo $value->question; ?>">
                                       
                                        <input type="hidden" class="form-control" name="markss[]" value="<?php echo $value->marks; ?>">
                                        
                                        <textarea name="answers[]" ><?php echo $value->answer; ?></textarea>
                                        
                                        <input type="text" class="form-control" name="scores[]" value="">
                                        </div>
  					
                                  <?php 
                                        $sl_no = $sl_no+1; 
                                        } 
                                  ?>                
  				<div class="bulk_uploader">
                                            <button type="submit" class="btn btn-danger save_button">Submit</button>
					</div>	
                    </form>
          <?php } ?>
      </div>
      
   </div>
</div>

