<!--<section class="certificate mt-5 pt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="certifacatePart text-center">
					<img src="<?php echo $this->webroot;?>images/logoStudilmu.jpg">
					<div class="certificateContent">
						<p class="mt-5 pt-2">ONCERT/<?php echo date('Y'); ?>/<?php echo $number; ?></p>
						<h6 class="mt-3">CERTIFICATE OF COMPLETION</h6>
						<p class="mt-2">This is to certify that</p>
						<h2 class="fontEdwardion py-4"><?php echo $username; ?></h2>
						<p class="font-14 mt-2">has completed online course</p>
						<p class="font-16 mt-1"><strong><?php echo $course; ?></strong></p>
						<p class="mt-5 pt-2 font-14">Issued on <?php echo date('F j,Y'); ?></p>
						<p class="font-14 mt-5 pt-2"><strong>Berny Gomulya</strong> <br>CEO</p>
						<p>
                                                    <a href="<?php echo $this->webroot;?>certificate/<?php echo $fileName; ?>"  download class="btn btn-danger dangerBut">
                                                        Download Now</a>
                                               <button type="button" class="btn btn-danger dangerBut">Download Now</button>
                                                </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title></title>
<meta name="" content="">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
</head>
<body style="font-family: 'Roboto', sans-serif;background: #000">
	<div style="width:800px;height:1148px;background-image: url('<?php echo $this->webroot; ?>cerificate.png');background-size: cover;overflow: hidden;margin: 0 auto;">
		<span style="display: block;text-align:center;color:#4f81bd;margin-top:200px;font-size: 17px">Certificate number : ONCERT/<?php echo date('Y'); ?>/<?php echo $number; ?></span>
		<span style="display: block;text-align:center;color:#4f81bd;margin-top:240px;font-size: 70px;font-family: 'Edwardian Script ITC';"><?php echo $username; ?></span>
		<b style="display: block;text-align:center;color:#4f81bd;margin-top:125px;font-size: 35px;"><?php echo $course; ?></b>
		<b style="display: block;text-align:center;color:#4f81bd;margin-top:130px;font-size: 25px;"><span style="color:#000">Issued on</span> October 12, 2017</b>
	</div>
    <div style="width: 100%; margin: 0 auto;">
    <p>
            <a href="<?php echo $this->webroot;?>certificate/<?php echo $fileName; ?>"  download class="btn btn-danger" style=" background: #ff0000 none repeat scroll 0 0; border-radius: 3px; color: #fff; display: table; font-size: 14px; margin: 0 auto; padding: 12px 15px; text-decoration: none;"> Download Now </a>
       
        </p>
        </div>
</body>
<style>
	@font-face {
		font-family: 'Edwardian Script ITC';
		src: url('<?php echo $this->webroot; ?>fonts/EdwardianScriptITC.eot');
		src: url('<?php echo $this->webroot; ?>fonts/EdwardianScriptITC.eot?#iefix') format('embedded-opentype'),
			url('<?php echo $this->webroot; ?>fonts/EdwardianScriptITC.woff') format('woff'),
			url('<?php echo $this->webroot; ?>fonts/EdwardianScriptITC.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

</style>
